<div class="cos-container">
    <div class="cos-content">
        <h3>MY SKILLS</h3>
        <h1>My Expertise</h1>
        <div class="cos-text-container">
            <div class="cos-element">
                <div class="cos-title">
                    <fa-icon [icon]="watch"></fa-icon>
                    <h2>Fast & Agile</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quod voluptas officiis. Tenetur ut voluptas quae possimus ipsum veritatis similique doloribus, quasi eos illum, accusantium sequi veniam. Quisquam, animi rerum!</p>
            </div>
            <div class="cos-element">
                <div class="cos-title">
                    <fa-icon [icon]="watch"></fa-icon>
                    <h2>Fast & Agile</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quod voluptas officiis. Tenetur ut voluptas quae possimus ipsum veritatis similique doloribus, quasi eos illum, accusantium sequi veniam. Quisquam, animi rerum!</p>
            </div>
            <div class="cos-element">
                <div class="cos-title">
                    <fa-icon [icon]="watch"></fa-icon>
                    <h2>Fast & Agile</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quod voluptas officiis. Tenetur ut voluptas quae possimus ipsum veritatis similique doloribus, quasi eos illum, accusantium sequi veniam. Quisquam, animi rerum!</p>
            </div>
        </div>
        <div class="cos-skill-container">
            <app-skill></app-skill>
            <app-skill></app-skill>
            <app-skill></app-skill>
            <app-skill></app-skill>
        </div>
    </div>
</div>