.selected {
  border: 2px solid #50aeaa;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-sizing: content-box;
}

.image-cropped-circular {
  border-radius: 300px;
}

.image-cropped-rectangle {
  border-radius: 15px;
  position: relative;
}

img {
  width: 150px;
}

.animation-test {
  background-color: transparent;
  padding: 50px; 
  transition : background-color 500ms ease;
  &:hover{
    background-color: greenyellow
  }
  
}
.buttons .row.buttons-container{
  column-gap: 10px;
  flex-wrap: nowrap;
}

@media screen and (max-width:560px) {
  .buttons .row.buttons-container{
    column-gap: 0px;
    flex-wrap: wrap;
    margin-bottom:30px;
  }
}

.font-picker{
  z-index:1002;
}