<div class="p-4 m-3">
  <div class="heading-3 text-center m-3">Color Palettes</div>
  <div (click)="onElementChange('colorChart', colorPalette)" *ngFor="let colorPalette of colorPalettes; let i=index"
       class="row align-items-center">
    <div class="col-xl-1 col-md-1">
      <div class="form-check m-2 text-center">
        <input [checked]="colorChartIndex === i"
               class="form-check-input"
               name="colorPalette"
               type="radio"
        ></div>
    </div>

    <div class="col-xl-6 col-md-6">
      <div class="m-3">
        <div class="heading-2 text-center m-2">Primary Color</div>
        <div [style.background]="colorPalette[0]"
             class="form-control border-0"></div>
      </div>
    </div>
    <div class="col-xl-5 col-md-5">
      <div class="m-3">
        <div class="heading-32 text-center m-2">Secondary Color</div>
        <div [style.background]="colorPalette[1]"
             class="form-control border-0"></div>
      </div>
    </div>
  </div>
  <div class="card-header"></div>
  <div class="heading-3 text-center m-3">Text & Font</div>
  <div class="row">
    <div class="col-xl-6 col-md-6">
      <div class="m-4">
        <div class="heading-2 text-center">Font</div>
        <div (fontPickerChange)="onElementChange('font', font.family)" [(fontPicker)]="font" [fpPositionOffset]="'30%'"
             [fpPositionRelativeToArrow]="false" [fpPosition]="'right'" [fpPresetFonts]="presetFonts"
             [fpSizeSelect]="sizeSelect" [fpStyleSelect]="styleSelect" [fpWidth]="'200px'"
             class="row m-3 justify-content-center align-items-center">
          <button class="btn m-2 btn-secondary" type="button">Click to choose a font</button>
          <p class="m-3">{{font?.family}} </p>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6">
      <div class="m-4">
        <div class="heading-2 text-center m-2">Preview</div>
        <textarea [maxRows]="10" [minRows]="5" [style.fontFamily]="font?.family" autosize class="form-control">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</textarea>
      </div>
    </div>
  </div>
  <div class="card-header"></div>
  <div class="heading-3 text-center m-3">Buttons</div>
  <div class="row">
    <div class="row col-xl-12 col-md-12 justify-content-center">
      <div class="row col-xl-12 col-md-12 justify-content-center">
        <div class="col-xl-4 col-md-12">
          <div class="heading-2 text-center col-xl-12 m-2">Buttons Shape</div>
          <div class="row flex-layout justify-content-center col-xl-12 col-md-12 m-2">
            <div
              class="col-xl-4 col-md-4 justify-content-center text-center mt-4"
              (click)="changeButtonShape('shape', 'square', 1)"
              
            >
              <button 
              [style.boxShadow]="buttonShape[0]? '0px 0 5px solid #72d4af !important':''"
              [style.background-color]="color1" [style.color]="'white'" class="btn m-2 btn-neutral-primary "
                      type="button">Square
              </button>
              <div class="form-check m-2 text-center">
                <input
                  [checked]="buttonShape[0]"
                  class="form-check-input"
                  name="radio"
                  type="radio"
                >
              </div>
            </div>
            <div
              class="col-xl-4 col-md-4 justify-content-center text-center mt-4"
              (click)="changeButtonShape('shape', 'rounded', 2)"
              
            >
              <button [style.border]="buttonShape[1]? '2px solid #72d4af !important':''" [style.background-color]="color1" [style.color]="'white'" class="btn m-2 btn-pill btn-neutral-primary"
                      type="button">Round
              </button>
              <div class="form-check m-2 text-center">
                <input
                  class="form-check-input"
                  name="radio"
                  type="radio"
                  [checked]="buttonShape[1]"
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-12">
          <div class="heading-2 text-center m-2 col-xl-12">Buttons Style</div>
          <div class="row justify-content-center col-xl-12 m-2">
            <div
              class="col-xl-6 col-md-6 justify-content-center text-center mt-4"
              (click)="changeButtonStyle('style', 'solid', 1)"
            >
              <button 
              [style.border]="buttonStyle[0]? '2px solid #72d4af !important':''"
              [style.background-color]="color1" [style.color]="'white'" class="btn m-2 btn-neutral-primary"
                      type="button">Solid
              </button>
              <div class="form-check m-2 text-center">
                <input
                  [checked]="buttonStyle[0]"
                  class="form-check-input"
                  name="radio2"
                  type="radio"
                >
              </div>
            </div>
            <div
              class="col-xl-6 col-md-6 justify-content-center text-center mt-4"
              (click)="changeButtonStyle('style', 'outlined', 2)"
              
            >
              <button (mouseleave)="hover=false" (mouseover)="hover=true" [style.background-color]="hover? color1:'transparent'"
                      [style.border]="buttonStyle[1]? '2px solid #72d4af !important':'1px solid rgb(80, 174, 170)'"
                      [style.border-color]="color1" [style.color]="hover? 'white':color1" class="btn m-2 btn-outline-primary"
                      type="button">Outlined
              </button>
              <div class="form-check m-2 text-center">
                <input
                  [checked]="buttonStyle[1]"
                  class="form-check-input"
                  name="radio2"
                  type="radio"
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-12">
          <div class="heading-2 text-center col-xl-12 m-2">Buttons Size</div>
          <div class="row justify-content-center align-items-center col-xl-12 col-md-12 m-2">
            <div
              class="col-xl-3 col-md-4 justify-content-center text-center mt-4"
              (click)="changeButtonSize('size', 'small', 1)"
              
            >
              <button
                      [style.border]="buttonSize[0]? '2px solid #72d4af !important':''"
                      [style.background-color]="color1"
                      [style.color]="'white'"
                      class="btn btn-sm btn-neutral-primary"
                      type="button">Small
              </button>
              <div class="form-check m-2 text-center">
                <input
                  [checked]="buttonSize[0]"
                  class="form-check-input"
                  name="radio3"
                  type="radio"
                >
              </div>
            </div>
            <div
              class="col-xl-4 col-md-4 justify-content-center text-center mt-4 m-2"
              (click)="changeButtonSize('size', 'normal', 2)"
            >
              <button [style.border]="buttonSize[1]? '2px solid #72d4af !important':''" [style.background-color]="color1" [style.color]="'white'" class="btn btn-neutral-primary"
                      type="button">Normal
              </button>
              <div class="form-check m-2 text-center">
                <input
                  [checked]="buttonSize[1]"
                  class="form-check-input"
                  name="radio3"
                  type="radio"
                >
              </div>
            </div>
            <div
              class="col-xl-4 col-md-4 justify-content-center text-center mt-4"
              (click)="changeButtonSize('size', 'big', 3)"
            >
              <button
               [style.border]="buttonSize[2]? '2px solid #72d4af !important':''"
               [style.background-color]="color1" [style.color]="'white'" class="btn btn-lg btn-neutral-primary"
                      type="button">Big
              </button>
              <div class="form-check m-2 text-center">
                <input
                  [checked]="buttonSize[2]"
                  class="form-check-input"
                  name="radio3"
                  type="radio"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-header"></div>
  <div class="heading-3 text-center m-3">Pictures</div>
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <div class="row m-4 flex-layout justify-content-center text-center">
        <div (click)="changePicture('picture', 'rounded', 1)"
             
             class="col-xl-3 col-md-6 mt-4">
          <img class="image-cropped-circular" [style.border]="pictureStyle[0]? '2px solid #72d4af !important':''" src="assets/johndoe.jpeg">
          <div class="form-check text-center m-2">
            <input
              [checked]="pictureStyle[0]"
              class="form-check-input"
              name="radio5"
              type="radio"
            >
          </div>
        </div>
        <div (click)="changePicture('picture', 'square', 2)"
             
             class="col-xl-3 col-md-6 mt-4">
          <img [style.border]="pictureStyle[1]? '2px solid #72d4af !important':''" class="image-cropped-rectangle" src="assets/johndoe.jpeg">
          <div
            class="form-check text-center m-2">
            <input
              [checked]="pictureStyle[1]"
              class="form-check-input"
              name="radio5"
              type="radio"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-header"></div>
  <div class="heading-3 text-center m-3 mt-5">Animation Speed (Seconds)</div>
  <div class="row justify-content-center m-2 p-4">
    <nouislider (change)="onGeneralElementChange('animationSpeed', speedValue)" [(ngModel)]="speedValue" [max]="5" [min]="0" [step]="1"
                [tooltips]="[ true ]" class="col-xl-6 col-md-12 "></nouislider>
  </div>
</div>
