
        <div class="p-4 m-3">
            <div class="heading-3 text-center m-3">Color Palettes</div>
            <div class="row align-items-center" *ngFor="let colorPalette of colorPalettes">
                <div class="col-xl-1 col-md-1">
                    <div class="form-check m-2 text-center"><input class="form-check-input"
                        name="colorPalette"
                        type="radio" checked></div>
                </div>
                
                <div class="col-xl-6 col-md-6">
                    <div class="m-3">
                        <div class="heading-2 text-center m-2">Primary Color</div>
                        <div [style.background]="colorPalette[0]"
                               class="form-control border-0"></div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-5">
                    <div class="m-3">
                        <div class="heading-32 text-center m-2">Secondary Color</div>
                        <div [style.background]="colorPalette[1]"
                               class="form-control border-0"></div>
                    </div>
                </div>
            </div>
            <div class="card-header"></div>
            <div class="heading-3 text-center m-3">Text & Font</div>
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="m-4">
                        <div class="heading-2 text-center">Font</div>
                        <div class="row m-3 justify-content-center align-items-center" [(fontPicker)]="font" [fpWidth]="'200px'" [fpPosition]="'right'" [fpPositionOffset]="'30%'" [fpPositionRelativeToArrow]="false" [fpPresetFonts]="presetFonts" [fpSizeSelect]="sizeSelect" [fpStyleSelect]="styleSelect">
                            <button class="btn m-2 btn-secondary" type="button">Click to choose a font</button>
                            <p class="m-3">{{font?.family}} </p>
                          </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="m-4">
                        <div class="heading-2 text-center m-2">Preview</div>
                        <textarea  autosize [minRows]="5" [maxRows]="10" [style.fontFamily]="font?.family" class="form-control">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</textarea>
                    </div>
                </div>
            </div>
            <div class="card-header"></div>
            <div class="heading-3 text-center m-3">Buttons</div>
            <div class="row">
                <div class="col-xl-12 col-md-12">
                        <div class="row col-xl-12 col-md-12">
                            <div class="col-xl-4 col-md-12">
                                <div class="heading-2 text-center m-4">Buttons Shape</div>
                                <div class="row flex-layout justify-content-center ">
                                    <div class="col-xl-6 col-md-6 justify-content-center text-center">
                                        <button class="btn m-2 btn-neutral-primary " type="button" [style.background-color]="color1" [style.color]="'white'">Square</button>
                                        <div class="form-check m-2 text-center"><input class="form-check-input"
                                            name="radio"
                                            type="radio" checked ></div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 justify-content-center text-center">
                                        <button class="btn m-2 btn-pill btn-neutral-primary" type="button" [style.background-color]="color1" [style.color]="'white'">Round</button>
                                        <div class="form-check m-2 text-center"><input class="form-check-input"
                                            name="radio"
                                            type="radio"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xl-4 col-md-12">
                                <div class="heading-2 text-center m-4">Buttons Style</div>
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-md-6 justify-content-center text-center">
                                        <button class="btn m-2 btn-neutral-primary" type="button" [style.background-color]="color1" [style.color]="'white'">Solid</button>
                                        <div class="form-check m-2 text-center"><input class="form-check-input"
                                            name="radio2"
                                            type="radio" checked></div>
                                    </div>
                                    <div class="col-xl-6 col-md-6 justify-content-center text-center">
                                        <button (mouseover)="hover=true" (mouseleave)="hover=false" class="btn m-2 btn-outline-primary" type="button" [style.border-color]="color1" [style.background-color]="hover? color1:'transparent'" [style.color]="hover? 'white':color1">Outlined</button>
                                        <div class="form-check m-2 text-center"><input class="form-check-input"
                                            name="radio2"
                                            type="radio"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-12">
                                <div class="heading-2 text-center m-4">Buttons Size</div>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-xl-4 col-md-4 justify-content-center text-center">
                                        <button class="btn btn-sm m-2 btn-neutral-primary" type="button" [style.background-color]="color1" [style.color]="'white'">Small</button>
                                        <div class="form-check m-2 text-center"><input class="form-check-input"
                                            name="radio3"
                                            type="radio"></div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 justify-content-center text-center">
                                        <button class="btn m-2 btn-neutral-primary" type="button" [style.background-color]="color1" [style.color]="'white'">Normal</button>
                                        <div class="form-check m-2 text-center"><input class="form-check-input"
                                            name="radio3"
                                            type="radio" checked></div>
                                    </div>
                                    
                                    <div class="col-xl-4 col-md-4 justify-content-center text-center">
                                        <button class="btn btn-lg m-2 btn-neutral-primary" type="button" [style.background-color]="color1" [style.color]="'white'">Big</button>
                                        <div class="form-check m-2 text-center"><input class="form-check-input"
                                            name="radio3"
                                            type="radio"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="card-header"></div>
            <div class="heading-3 text-center m-3">Pictures</div>
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="row m-4 flex-layout justify-content-center text-center">
                        <div class="col-xl-3 col-md-6"><img src="assets/johndoe.jpeg" class="image-cropped-circular">
                            <div class="form-check text-center m-2"><input class="form-check-input"
                                name="radio5"
                                type="radio" checked></div>
                        </div>
                        <div class="col-xl-3 col-md-6"><img src="assets/johndoe.jpeg" class="image-cropped-rectangle">
                            <div class="form-check text-center m-2"><input class="form-check-input"
                                name="radio5"
                                type="radio"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header"></div>
            <div class="heading-3 text-center m-3 mt-5">Animation Speed (Seconds)</div>
            <div class="row justify-content-center m-2 p-4">
                <nouislider class="col-xl-6 col-md-12 "  [min]="0" [max]="5" [step]="1" [(ngModel)]="someValue" [tooltips]="[ true ]" ></nouislider>
            </div>
        </div>