<app-wrapper-seamless>
    <div class="col-xl-5">
        <div class="card card-box mb-5">
            <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Add Soft Skill</h5>
                <form>
                    <div class="position-relative form-group"><label for="exampleEmail">Title</label><input class="form-control"
                                                                                                            id="exampleEmail"
                                                                                                            name="name"
                                                                                                            placeholder="Skill title"
                                                                                                            type="text">
                    </div>
                    <div class="position-relative form-group"><label for="examplePassword">Subtitle</label><input
                            class="form-control" id="examplePassword" name="password" placeholder="Subtitle"
                            type="text"></div>
                    <div class="position-relative form-group"><label for="exampleSelect">Select Skill level</label><select
                            class="form-control" id="exampleSelect" name="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select></div>
                    
                    <button class="mt-1 btn btn-primary">Add Skill</button>
                </form>
            </div>
        </div>
    </div>
</app-wrapper-seamless>