
<div class="row col-xl-12 col-md-12 justify-content-center">
    <div class="row col-xl-6 col-md-12">
        <div class="card card-box col-xl-12 col-md-12 mb-5">
            <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Add Hard Skill</h5>

                <form>
                    <div class="position-relative form-group"><label for="exampleEmail">Title</label>
                      <input class="form-control"
                             id="exampleEmail"
                             name="name"
                             placeholder="Skill title"
                             type="text">
                    </div>
                    <div class="position-relative form-group"><label for="exampleSelect">Select Skill level</label><nouislider [min]="0" [max]="10" [step]="1" [(ngModel)]="someValue" [tooltips]="[ true ]"></nouislider></div>

                    <button class="mt-1 btn btn-slack">Add Hard Skill</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row m-2 col-xl-5 col-md-12">
        <div class="card-info">
            <div class="info-container">
                <fa-icon [icon]="['fas','exclamation-circle']"></fa-icon>
                <h1>Tips & Information</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi error a omnis illo temporibus dolorum eos, obcaecati deleniti id reprehenderit rerum aut culpa, quo ullam praesentium tenetur ea fuga ducimus?</p>
            </div>
        </div>
    </div>
</div>
