<div class="row col-xl-12 col-md-12 m-2">
  <a routerLink='../'  class="back-btn"><fa-icon [icon]="['fas','angle-left']"></fa-icon></a>
</div>
<div class="row col-xl-12 col-md-12 justify-content-center wrap-reverse containing">

  <div class="row col-xl-7 col-md-12 ">
    <div class="card card-box col-xl-12 col-md-12 mb-5">
      <div class="card-body">
        <h5 class="card-title font-weight-bold font-size-lg mb-4">
          <span *ngIf="!edit">Add</span>
          <span *ngIf="edit">Edit</span>
          Hard Skill
        </h5>
        <form>
          <div class="position-relative form-group">
            <label class="required">Title</label>
            
            <ng-select [(ngModel)]="selectedSkill"
                       bindLabel="name"
                       [items]="skills"
                       name="title"
                       [addTag] ="true"
                       loadingText="Loading..."
            >
            </ng-select>
<!--            <ng-select [(ngModel)]="selectedSkill" bindLabel="name" bindValue="id">-->
<!--              <ng-option *ngFor="let skill of skills" [value]="skill.name"><img style="width: 3rem; height: 3rem; padding-right: 1rem;" [src]="skill.icon">{{skill.name}}</ng-option>-->
<!--            </ng-select>-->

            <!-- Error Handling -->
            <div *ngIf="!selectedSkill" class="alert isa_error">
              This field is required
            </div>
            <!-- /Error handling -->
          </div>
          <div class="position-relative form-group">
            <input 
              type="checkbox" 
              name="" 
              id="" 
              class="level-checkbox"
              [(ngModel)]="selectLevel"
            >
            <label class="required">Select Skill level</label>
            <nouislider *ngIf="selectLevel"
              [min]="0"
              [max]="10"
              [step]="1"
              [(ngModel)]="level"
              [tooltips]="[ true ]"
              name="level"
            ></nouislider>
          </div>
          <button (click)="onSubmit()" class="mt-2 btn btn-slack" [disabled]="!selectedSkill || !level">
            <span *ngIf="!edit">Add</span>
            <span *ngIf="edit">Edit</span>
            Hard Skill
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row m-2 col-xl-5 col-md-12">
    <div class="card-info">
      <div class="info-container">
        <fa-icon [icon]="['fas','exclamation-circle']"></fa-icon>
        <h1>Tips & Information</h1>
        <p>When hiring new employees, employers pay considerable attention to candidates' hard talents.
          Although there are exceptions, most candidates who lack the requisite hard skills will struggle to acquire the position.</p>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3aaf85" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Saving... </p></ngx-spinner>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3aaf85" type = "ball-scale" [fullScreen] = "true" name="loading"><p style="color: white" > Loading... </p></ngx-spinner>