<div class="footer">
    <div class="content">
        <div class="element webipie-el">
            <h1>WEBIPIE</h1>
            <div class="icons">
                <a href="https://www.facebook.com/WebiPieme-100704895730027" class="link-button"><fa-icon class="facebook" [icon]="faFacebook"></fa-icon></a>
                <a href="https://www.linkedin.com/company/webipie-me" class="link-button" target="_blank"><fa-icon class="instagram" [icon]="faLinkedIn"></fa-icon></a>
                <a href="https://www.instagram.com/webipie.me" class="link-button" target="_blank"><fa-icon class="instagram" [icon]="faInstagram"></fa-icon></a>
            </div>
            <p>+216 98 770 715</p>
        </div>
        <div class="element">
            <h2>Website</h2>
            <a href="#"><p>Home</p></a>
        </div>
        <div class="element">
            <h2>Support</h2>
            <a href="#"><p>Contact Us</p></a>
        </div>
    </div>
    <div class="footer" style="border-top:1px solid lightgrey;padding-top:1px;padding-bottom: 10px;">
        <p>Copyrights &copy; All Rights Reserved By Webipie</p>
    </div>
</div>
