<div class="footer">
    <div class="content">
        <div class="element">
            <h1>WEBIPIE</h1>
            <div class="icons">
                <div><fa-icon class="twitter" [icon]="faTwitter"></fa-icon></div>
                <div><fa-icon class="facebook" [icon]="faFacebook"></fa-icon></div>
                <div><fa-icon class="instagram" [icon]="faLinkedIn"></fa-icon></div>
                <div><fa-icon class="instagram" [icon]="faInstagram"></fa-icon></div>
            </div>
            <p>+216 98 770 715</p>
        </div>
        <div class="element">
            <h2>Website</h2>
            <a href="#"><p>Home</p></a>
        </div>
        <div class="element">
            <h2>Support</h2>
            <a href="#"><p>Contact Us</p></a>
        </div>
    </div>
    <div class="footer" style="border-top:1px solid lightgrey;padding-top:1px;padding-bottom: 10px;">
        <p>Copyrights &copy; All Rights Reserved By Webipie</p>
    </div>
</div>
