<div class="cos-container">
    <div class="cos-content">
        <h3>WHAT I ACHIEVED</h3>
        <h1>My Achievements</h1>
        <div class="cos-experiences">
            <div *ngFor="let achievement of achievements" class="cos-element">
                <div class="cos-left">
                    <h4>{{achievement.title}}</h4>
                    <p>{{achievement.description}}</p>
                </div>
                <div class="cos-middle">
                    <div class="cos-line"></div>
                    <fa-icon [icon]='check'></fa-icon>
                </div>
                <div class="cos-right">
                    <div class="cos-bubble">
                        <div class="cos-triangle">

                        </div>
                        <h2>{{achievement.date | date}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
