<div class="cos-container">
    <div class="cos-content">
        <h3>MY WORKS</h3>
        <h1>My Portfolio</h1>
        <div class="cos-nav">
            <div class="cos-btn active"><p>All</p></div>
            <div class="cos-btn"><p>Design</p></div>
            <div class="cos-btn"><p>Photoshop</p></div>
            <div class="cos-btn"><p>Illustrator</p></div>
            <div class="cos-btn"><p>Indesign</p></div>
        </div>
        <div class="cos-project-container">
            <div (click)="hide($event)"><app-project-element></app-project-element></div>
            <div (click)="hide($event)"><app-project-element></app-project-element></div>
            <div (click)="hide($event)"><app-project-element></app-project-element></div>
            <div (click)="hide($event)"><app-project-element></app-project-element></div>
            <div (click)="hide($event)"><app-project-element></app-project-element></div>
            <div (click)="hide($event)"><app-project-element></app-project-element></div>
            <div (click)="hide($event)"><app-project-element></app-project-element></div>
        </div>
    </div>
</div>