<div class="cos-container">
    <div class="cos-content">
        <h3>WHAT I STUDIED</h3>
        <h1>My Education</h1>
        <div class="cos-experiences">
            <div *ngFor="let element of education" class="cos-element">
                <div class="cos-left">
                    <h4>{{element.title}}</h4>
                    <h5>{{element.level}}</h5>
                    <h6>{{element.city}}</h6>
                </div>
                <div class="cos-middle">
                    <div class="cos-line"></div>
                    <fa-icon [icon]='check'></fa-icon>
                </div>
                <div class="cos-right">
                    <div class="cos-bubble  {{template == 1? 'square':''}} {{template == 3? 'outline':''}}">
                        <div class="cos-triangle">
                        </div>
                        <h2>{{element.beginDate | date}} - <span *ngIf="element.endDate">{{element.endDate | date}}</span><span *ngIf="!element.endDate">Present</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
