<!-- CAREER -->
<section id="career" class="resume-section">
    <h2 class="text-center font-weight-bold pt-4 vivify fadeIn delay-150" style="color: var(--blue-color);">
        Career</h2>
    <div class="resume container">
        <div class="resume_right">
            <div class="row">
                <div class="col-md-6">
                    <div class="resume_item resume_work">
                        <div class="title">
                            <p class="bold">Work Experience</p>
                        </div>
                        <ul>
                            <li>
                                <div class="info">
                                    <p class="semi-bold">Deep Learning Engineer</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">Core Inteligence</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-stopwatch mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">07/2021 - Present</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-globe-americas mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">Australia ( Remotely
                                        )</i>

                                    <div class="mx-2 mt-4"> • Contributed in designing and implementing
                                        reinforcement learning models around a 4X game.
                                    </div>
                                    <div class="mx-2 mt-1"> • Enhanced performance for existing deep learning models.
                                    </div>
                                    <div class="mx-2 mt-1"> • Researched methods for implementing structural causal
                                        models.
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="info">
                                    <p class="semi-bold">Software Engineering Intern</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">University of Michigan</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-stopwatch mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">06/2021 - 07/2021</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-globe-americas mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">Michigan, USA ( Remotely )</i>

                                    <div class="mx-2 mt-4"> • Represent a decision tree model as an expert rule system.
                                    </div>
                                    <div class="mx-2 mt-1"> • Develop the interface with electronjs.
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="info">
                                    <p class="semi-bold">Software Engineering Intern</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">FinGenesis</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-stopwatch mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">04/2021 - 06/2021</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-globe-americas mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">Singapore ( Remotely )</i>

                                    <div class="mx-2 mt-4"> • Monitoring and auditing their system with grafana tool.
                                    </div>
                                    <div class="mx-2 mt-1"> • Building an api service with Django.</div>
                                    <div class="mx-2 mt-1"> • Testing and evaluating their models.</div>
                                </div>
                            </li>

                            <li>
                                <div class="info">
                                    <p class="semi-bold">Deep Learning Intern</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">KaizenData</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-stopwatch mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">06/2020 - 09/2020</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-globe-americas mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">Tunis Tunisia</i>

                                    <div class="mx-2 mt-4"> • Scraping data for AI surveillance project.</div>
                                    <div class="mx-2 mt-1"> • Social media users profiling.</div>
                                    <div class="mx-2 mt-1"> • analyze similarity between profiles.</div>
                                    <div class="mx-2 mt-1"> • Contributed in labeling and cleaning data.</div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="resume_item resume_work">
                        <div class="title">
                            <p class="bold">Achievements</p>
                        </div>
                        <ul>
                            <li>
                                <div class="info">
                                    <p class="semi-bold">3rd phase of the Open Start-up Tunisia pre-incubator
                                        program</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">OST Tunisia Pre-incubator</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-stopwatch mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">06/2020</i>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="resume_item resume_education">
                        <div class="title">
                            <p class="bold">Education</p>
                        </div>
                        <ul>
                            <li>
                                <div class="info">
                                    <p class="semi-bold">Software Engineering Degree</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">National Institute of Applied
                                        Science and Technology</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-stopwatch mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">09/2017 - Present</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-globe-americas mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">Tunis, Tunisia</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="resume_item resume_education">
                        <div class="title">
                            <p class="bold">Volunteer Experience</p>
                        </div>
                        <ul>
                            <li>
                                <div class="info">
                                    <p class="semi-bold">Engineering team member</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">DataColab</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-globe-americas mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">Tunis, Tunisia</i>

                                    <div class="mx-2 mt-4"> • Raising awareness about artificial intelligence.
                                    </div>
                                    <div class="mx-2 mt-1"> • Mentoring learning team members.
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="info">
                                    <p class="semi-bold">Member</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">Insat Juinor entreprise</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-globe-americas mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">Tunis, Tunisia</i>

                                    <div class="mx-2 mt-4"> • Core member in the development team.</div>
                                    <div class="mx-2 mt-4"> • Participating in several events.</div>
                                </div>
                            </li>

                            <li>
                                <div class="info">
                                    <p class="semi-bold">Mentor</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">DataOverflow</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-globe-americas mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">Tunis, Tunisia</i>

                                    <div class="mx-2 mt-4"> • Creating the first cohort alongside the team.</div>
                                    <div class="mx-2 mt-4"> • Teaching freshmen students Python and ML basics.</div>

                                </div>
                            </li>

                            <li>
                                <div class="info">
                                    <p class="semi-bold">Program team member</p>
                                    <br>
                                    <i class="mx-2 fas fa-map-marker-alt resume-tag"></i>
                                    <i style="font-size: 17px;" class="resume-tag">CSTC</i>

                                    <br>
                                    <i class=" resume-tag mx-2 fas fa-globe-americas mt-3"></i>
                                    <i style="font-size: 17px" class="resume-tag">Tunis, Tunisia</i>

                                    <div class="mx-2 mt-4"> • Organize and prepare the program for the event.</div>

                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- /CAREER -->