
<div class="row col-xl-12 col-md-12 justify-content-center">
    <div class="row col-xl-7 col-md-12">
        <div class="card card-box col-xl-12 col-md-12 mb-5">
            <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Add Soft Skill</h5>
                <form>
                    <div class="position-relative form-group"><label for="exampleEmail">Title</label>
                      <input class="form-control"
                             id="exampleEmail"
                             name="name"
                             placeholder="Skill title"
                             type="text">
                    </div>
                    <div class="position-relative form-group"><label for="exampleText">Description</label><textarea
                            class="form-control" id="exampleText" name="text"></textarea></div>
                    <button class="mt-1 btn btn-slack">Add Skill</button>
                </form>
            </div>
        </div>
    </div>
</div>
