<div class="row col-xl-12 col-md-12">
  <div class="row col-xl-12 col-md-12 m-2">
    <a routerLink='../'  class="back-btn"><fa-icon [icon]="['fas','angle-left']"></fa-icon></a>
  </div>
  <div class="row col-xl-7 col-md-12">
    <div class="card card-box col-xl-12 col-md-12 mb-5">
      <div class="card-body">
        <h5 class="card-title font-weight-bold font-size-lg mb-4">
          <span *ngIf="!edit">Add</span>
          <span *ngIf="edit">Edit</span>
          Soft Skill
        </h5>
        <form>
          <div class="position-relative form-group">
            <label>Title</label>
            <ng-select name="title"
                       (change)="onChange()"
                       [(ngModel)]="selectedSkill"
                       bindLabel="title"
                       bindValue="id"
                       [items]="skills"
            ></ng-select>
          </div>
          <div class="position-relative form-group">
            <label for="exampleText">Description</label>
            <textarea class="form-control" id="exampleText" name="text" placeholder="Description"></textarea>
          </div>
          <button (click)="onSubmit()" class="mt-3 btn btn-slack">
            <span *ngIf="!edit">Add</span>
            <span *ngIf="edit">Edit</span>
            Skill
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row m-2 col-xl-5 col-md-12">
    <div class="card-info">
      <div class="info-container">
        <fa-icon [icon]="['fas','exclamation-circle']"></fa-icon>
        <h1>Tips & Information</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi error a omnis illo temporibus dolorum eos, obcaecati deleniti id reprehenderit rerum aut culpa, quo ullam praesentium tenetur ea fuga ducimus?</p>
      </div>
    </div>
  </div>


  <div class="row m-2 col-xl-5 col-md-12">
        <div class="card-info">
            <div class="info-container">
                <fa-icon [icon]="['fas','exclamation-circle']"></fa-icon>
                <h1>Tips & Information</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi error a omnis illo temporibus dolorum eos, obcaecati deleniti id reprehenderit rerum aut culpa, quo ullam praesentium tenetur ea fuga ducimus?</p>
            </div>
        </div>
    </div>
</div>
