<div class="cos-container">
    <div class="cos-content">
        <h3>WHAT I DID</h3>
        <h1>My Experience</h1>
        <div class="cos-experiences">
            <div *ngFor="let work of workExperiences" class="cos-element">
                <div class="cos-left">
                    <h4>{{work.title}}</h4>
                    <h5 *ngIf="work.company">{{work.company}}</h5>
                    <h6 *ngIf="work.position">{{work.position}}</h6>
                  <p>{{work.description}}</p>
                </div>
                <div class="cos-middle">
                    <div class="cos-line"></div>
                    <fa-icon [icon]='check'></fa-icon>
                </div>
                <div class="cos-right">
                    <div class="cos-bubble  {{template == 1? 'square':''}} {{template == 3? 'outline':''}}">
                        <div class="cos-triangle">
                        </div>
                        <h2>{{work.beginDate | date}} - <span *ngIf="work.endDate">{{work.endDate | date}}</span><span *ngIf="!work.endDate">Present</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
