<app-wrapper-seamless>
  <div class="col-xl-7">
    <div class="card card-box mb-5">
      <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Add education</h5>
        <form (ngSubmit)="onSubmit()" [formGroup]="educationForm">
          <div class="position-relative form-group"><label for="exampleEmail">Title</label>
            <input class="form-control"
                   formControlName="title"
                   id="exampleEmail"
                   name="name"
                   placeholder="Title"
                   type="text"
            >
          </div>
          <div class="position-relative form-group"><label for="examplePassword">Level</label>
            <input class="form-control"
                   formControlName="level"
                   id="examplePassword"
                   name="password"
                   placeholder="Level"
                   type="text"
            >
          </div>

          <div class="form-group">
            <label>Start Date</label>
            <div class="input-group input-group-lg mb-5">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="['fas', 'calendar-alt']"
                                                        class="mx-auto"></fa-icon></span>
              </div>
              <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                     bsDatepicker
                     class="form-control"
                     formControlName="beginDate"
                     placeholder="Select date"
                     type="text"
              >
            </div>
          </div>
          <div class="form-group">
            <label>Still on the job ?</label>
            <div class="m-2">
              <ui-switch [checked]="false"></ui-switch>
            </div>
          </div>

          <div class="form-group">
            <label>End Date</label>
            <div class="input-group input-group-lg mb-5">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="['fas', 'calendar-alt']"
                                                        class="mx-auto"></fa-icon></span>
              </div>
              <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                     bsDatepicker
                     class="form-control"
                     formControlName="endDate"
                     placeholder="Select date"
                     type="text"
              >
            </div>
          </div>

          <div class="position-relative form-group"><label for="city">City</label>
            <input class="form-control"
                   formControlName="city"
                   id="city"
                   name="password"
                   placeholder="City"
                   type="text"
            >
          </div>
          <button [disabled]="!educationForm.valid" class="mt-1 btn btn-slack">Add Education</button>
        </form>
      </div>
    </div>
  </div>
</app-wrapper-seamless>
