<div class="row col-xl-12 col-md-12 m-2">
  <a routerLink='../'  class="back-btn"><fa-icon [icon]="['fas','angle-left']"></fa-icon></a>
</div>
<div class="row col-xl-12 col-md-12 justify-content-center wrap-reverse">

  <div class="col-xl-6">
    <div class="card card-box mb-5">
      <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Add education</h5>
        <form (ngSubmit)="onSubmit()" [formGroup]="educationForm">
          <div class="position-relative form-group"><label for="exampleEmail">Title</label>
            <input class="form-control"
                   formControlName="title"
                   id="exampleEmail"
                   name="name"
                   placeholder="Title"
                   type="text"
                   [(ngModel)]="education.title"
            >
          </div>
          <div class="position-relative form-group"><label for="examplePassword">Level</label>
            <input class="form-control"
                   formControlName="level"
                   id="examplePassword"
                   name="level"
                   placeholder="Level"
                   type="text"
                   [(ngModel)]="education.level"
            >
          </div>
          <div class="row">
            <div class="form-group col-xl-6 col-md-12">
              <label>Start Date</label>
              <div class="input-group input-group-lg mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text"><fa-icon [icon]="['fas', 'calendar-alt']"
                                                          class="mx-auto"></fa-icon></span>
                </div>
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                       bsDatepicker
                       class="form-control"
                       placeholder="Select date"
                       type="text"
                       formControlName="beginDate"
                       [(ngModel)]="beginDate"
                >
              </div>
            </div>


            <div class="form-group col-xl-6 col-md-12">
              <label>End Date</label>
              <div class="input-group input-group-lg mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text"><fa-icon [icon]="['fas', 'calendar-alt']"
                                                          class="mx-auto"></fa-icon></span>
                </div>
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                       bsDatepicker
                       class="form-control"
                       placeholder="Select date" 
                       type="text"
                       formControlName="endDate"
                       [(ngModel)]="endDate"
                >
              </div>

            </div>
          </div>

          <div class="position-relative form-group"><label for="city">City</label>
            <input class="form-control"
                   formControlName="city"
                   id="city"
                   name="password"
                   placeholder="City"
                   type="text"
                   [(ngModel)]="education.city"
            >
          </div>
          <button [disabled]="!educationForm.valid" class="mt-1 btn btn-slack">
            <span *ngIf="!edit">Add</span>
            <span *ngIf="edit">Edit</span>
            Education
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row m-2 col-xl-5 col-md-12">
    <div class="card-info">
      <div class="info-container">
        <fa-icon [icon]="['fas','exclamation-circle']"></fa-icon>
        <h1>Tips & Information</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi error a omnis illo temporibus dolorum eos, obcaecati deleniti id reprehenderit rerum aut culpa, quo ullam praesentium tenetur ea fuga ducimus?</p>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3aaf85" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Saving... </p></ngx-spinner>
