<app-header (aboutusEmitter)="scroll(aboutus)" (indexEmitter)="scroll(index)" (pricingEmitter)="scroll(pricing)" (contactusEmitter)="scroll(contactus)"></app-header>
<div class="containerbackground"></div>
<div class="containerr" #index>
  <div class="subtop">
    In order to land your ideal job, recognition is the key. An excellent programmer portfolio website isn't a choice if
    you want to stand out from the crowd, it's a must.
  </div>
  <div class="big-title">
    <h1>YOUR PORTFO&shy;LIO IS A FEW CLICKS AWAY</h1>
  </div>
  <div class="sub">
    Having a portfolio facilitates the hiring process for managers and HRs. Since a resume is concise and to the point,
    it can't cover all your experiences and achievements.
  </div>
  <div class="mouse-container">
    <div class="circle">
      <div>
        <div>
          <fa-icon [icon]="mouse"></fa-icon>
        </div>

        <p>Keep Scrolling</p>
      </div>

    </div>

  </div>
</div>
<div class="aboutus" #aboutus>
  <div (inViewportAction)="onIntersection()" [class]="'left '+class"
       [inViewportOptions]="{ threshold: [0] }"
       inViewport>
    <h1>ABOUT US</h1><br>
    <p>Webipie started as a dream shared between four software engineering students.<br>
      <br>
      It all began when we noticed the huge importance of having a website portfolio for landing a job in today's market.
      However, to build your own portfolio from scratch would <strong>require effort and days of hard work.</strong><br>
      <br>
      So we gathered around the four of us and decided to spend a couple of months creating a portfolio website builder
      that'll <strong>grant you a portfolio in minutes.</strong>

    </p><br>
    <h3>See the video to learn more about how to get your free website</h3>
  </div>
  <div (inViewportAction)="onIntersection()" [class]="'right '+class"
       [inViewportOptions]="{ threshold: [0] }"
       inViewport>
    <img src="assets/SVG/logo.svg">
  </div>
</div>
<div class="how">
  <div class="background" style="background-image: url('assets/wallpaper.jpg');">

  </div>
  <div class="howcontainer">
    <h1>WHAT YOU WILL FIND HERE</h1>
    <h3>OUR PERKS AND MERITS</h3>
    <div class="card-container">
      <div class="cardd">
        <h2>Be professional</h2>
        <p>Our professional templates allow you to stand out from the crowd, gain the recruiter’s trust and be
          better than just good enough.</p>
      </div>
      <div class="cardd">
        <h2>Manage everything</h2>
        <p>Customize your portfolio, add your achievements, experiences, projects, ... . Track visit statistics all in one simple easy to use
          dashboard. Any task is just 3 clicks away</p>

      </div>
      <div class="cardd">
        <h2>Expand your presence</h2>
        <p>Maximize your reach and explore new opportunities. Having a portfolio will improve your chances in obtaining an interview.</p>
      </div>
    </div>
  </div>
</div>
<div class="knowmore">
  <h1>THRILLED TO KNOW MORE ?</h1>
  <button (click)="getStarted()" class="btn btn-lg btn-outline-secondary m-4" style="font-size:2rem">Get Started</button>
</div>
<div class="price-section" #pricing>
  <app-price-section></app-price-section>
</div>
<div class="howitworks">
  <app-howitworks-section></app-howitworks-section>
</div>
<div #contactus>
<app-footer></app-footer>
</div>
