app-header,app-header-loggedin{
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    z-index: 1000;
}
app-frontpage{
    z-index:99;
}
.containerbackground{
    position: fixed;
    width:200vw;
    height:110vh;
    left:0px;
    top:0px;
    background: rgb(28,56,36);
background: radial-gradient(circle, #234633 10%, rgba(16,35,9,1) 100%);
}
.containerr{
    position: relative;
width:100%;
height:100vh;
padding-top:100px;
display: flex;
align-items: center;
flex-direction: column;
}
.big-title{
    word-wrap: break-word;
    hyphens: auto;
    color:white;
    margin: auto;
    text-align: center;
    width:80%;
    max-width: 1400px;
    height:fit-content;
    text-align: center;
}
.big-title h1{
    margin-top:90px;
    font-size:4rem;
    font-weight: 700;
    letter-spacing: 20px;
}
.sub{
    animation : bounce 2s ease-in-out alternate infinite;
    max-width:600px;
    width:80%;
    color:rgba(255, 255, 255, 0.4);
    position: absolute;
    left:10%;
    bottom:20%;
}
.subtop{
    animation : bounce 2s ease-in-out alternate-reverse infinite;
    max-width:600px;
    width:80%;
    color:rgba(255, 255, 255, 0.4);
    position: absolute;
    right:10%;
    top:20%;
}
.menu-container{
    position: relative;
    top:200px;
    margin: auto;
}
.circle{
    position: relative;
    top:12vh;
    border: 1px solid white;
    width:300px;
    height:300px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: top;
}
@keyframes bounce {
    0%{
        -webkit-transform: translate(0px,0px);
        transform:translate(0px,0px) rotateY(0deg);
        
    }100%{
        -webkit-transform: translate(0px,-50px);
        transform:translate(40px,-50px);
    }
}
@keyframes bounce2 {
    0%{
        -webkit-transform: translate(0px,0px);
        transform:translate(0px,0px) rotateY(0deg);
        
    }100%{
        -webkit-transform: translate(0px,-50px);
        transform:translate(0px,-13px);
    }
}
.circle div{
    margin-top:30px;
    color:white;
    font-size:32px;
    text-align: center;
    
}
.circle div svg {
    width:25px;
}
.circle div p{
    font-size:18px;
    margin-top: 10px;
}
.circle div div{
    padding:0px;
    margin:0px;
    animation : bounce2 1s ease-in-out alternate infinite ;
    animation-delay: 0.5s;
}
.aboutus{
    position: relative;
    top:200px;
    color:white;
    width:90%;
    margin: auto;
    max-width: 1400px;
    z-index:100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;

}
.aboutus .left{
    width:100%;
    margin:auto;
    margin-top:50px;
    max-width: 600px;
    opacity: 0;transform: translateY(-200px);
    transition: transform 2s ease-out , opacity 4s ;
}
.aboutus .right{
    margin:auto;
    margin-top:50px;
    width:90%;
    max-width: 400px;
    height:fit-content;
    opacity: 0;transform: translateY(-200px);
    transition: transform 2s ease-out , opacity 3s ;
}
.aboutus p{
    font-size: 1.2rem;
}
.aboutus h1{
    font-size: 2.5rem;
    font-weight: 900;
}
.active{
    transform: translateY(0px) !important;
    opacity: 1 !important;
}
@media screen and (max-width:600px){
    .big-title h1{
        font-size: 1.4rem;
    }
    
}
@media screen and (max-width:450px){
    .sub,.subtop{
        font-size:0.9rem;
        opacity:0.4;
    }
}
.background{
    position: absolute;
    top:0px;
    left:0px;
    opacity: 0.3;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 100;
    height:100%;
    width:100%;
}
.how{
    margin-top: 400px;
    position: relative;
    width:100vw;
}
.howcontainer{
    position: relative;
    color:white;
    margin:auto;
    width:90%;
    max-width: 1400px;
    text-align: center;
    padding-top:60px;
    padding-bottom:100px;
    z-index:101;
}
.card-container{
    position: relative;
    top: 40px;
    width:90%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.cardd{
    background: white;
    margin: auto;
    margin-bottom:20px;
    max-width: 300px;
    width: 95%;
    min-height:220px;
    box-sizing: content-box;
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
    text-align: left;
    box-shadow: 0 3px 8px rgba(44, 44, 44, 0.658);
    cursor: pointer;
    transition: transform 0.75s ease-out;
}
.cardd:hover{
    transform: translateY(-20px) rotateZ(-5deg);
}
.cardd h2{
    color:#57984c;
    margin-bottom: 15px;
    font-weight: 600;
}
.cardd p{
    
    color:black;
}
.knowmore{
    top:50px;
    position: relative;
    max-width: 1400px;
    width:90%;
    margin:auto;
    color:white;
    text-align: center;
}
.butt{
    position: relative;
    color:#57984c;
    border:4px solid #57984c;
    width:fit-content;
    padding:15px;
    margin:auto;
    margin-top:20px;
    cursor: pointer;
    z-index: 100;
    border-radius: 20px;
    overflow: hidden;
}
.butt h2{
    position: relative;
    z-index:100;
}
.slider{
    position: absolute;
    top:0px;
    left:0px;
    z-index:10;
    width: 0px;
    height: 100%;
    background: #ceebdb;
    transition:width 0.75s ease-out;
}
.butt:hover > .slider{
    width:100%;
}
.price-section{
    top:50px;
    position: relative;
    z-index:100;
}
app-footer{
    position: relative;
}
.howitworks{
    top:50px;
    position: relative;
}
