.footer{
    background-color: #0e161c;
    color:white;
    padding:15px;
    box-sizing: border-box;
    width:100vw;
    text-align: center;
    p{
        padding:0px;
        height:fit-content;
        margin:0px;
    }
}