.cos-container{
    width: 80%;
    max-width: 300px;

}
.cos-container img{
    border-radius: 200px;
    width:100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    margin-bottom:10px;
}
.cos-container h4{
    font-weight: 700;
    font-size:2rem;
}
.cos-container p{
    margin-top:20px;
    text-align: left;
}