<div [ngClass]="{
    'app-footer--shadow' : globals.footerShadow,
    'app-footer--opacity-bg' : globals.footerTransparentBg
  }" class="app-footer text-black-50">
  <div class="app-footer--first">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard-analytics">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/forms-wizard">Terms Of Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard-crm-manager">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="app-footer--second">
    <span>Webipie User Dashboard</span> © 2021
  </div>
</div>
