<div [class]="delay? 'card':'card hidden'">
  <h1>Welcome</h1>
  <h3>Email Confirmation</h3>
  <!-- Error msg design
  <div class="error">
      <p>error</p>
  </div>
  -->
  <p>We have sent an email to <span class="email">{{email}}</span> to confirm the validity of your account.</p>
  <p class="mt-3">After receiving the email, follow the link to get access to your dashboard and start customizing your portfolio </p>
  <div class="line"></div>
  <button type="submit">Resend Email</button>
</div>
