<div class="cos-container">
    <div class="image-container" (mouseover)="hover($event,true)" (mouseout)="hover($event,false)">
        <div [class]="overlay? 'overlay shown':'overlay'">
            <div class="icons">
            <a href="{{member.githublink}}"><fa-icon [icon]="github"></fa-icon></a>
            <a href="{{member.linkedinlink}}"><fa-icon [icon]="linkedin"></fa-icon></a>
            </div>
        </div>
        <img src="{{member.picture}}">
    </div>
    <h1>{{member.name}}</h1>
    <h5>{{member.position}}</h5>
</div>
