<div class="cos-container">
    <div class="image-container" (mouseover)="hover($event,true)" (mouseout)="hover($event,false)">
        <div [class]="overlay? 'overlay shown':'overlay'">
            <div class="icons">
            <a href="#"><fa-icon [icon]="github"></fa-icon></a>
            <a href="#"><fa-icon [icon]="linkedin"></fa-icon></a>
            </div>
        </div>
        <img src="assets/johndoe.jpg">
    </div>
    <h1>John Doe</h1>
    <h5>Web Developer</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed nulla repudiandae sequi exercitationem molestiae. Dolorem ab laboriosam, maiores, eligendi dolor similique corrupti nesciunt accusantium a dolorum quibusdam magni asperiores.</p>
</div>