<div class="cos-container" [style.background]="'linear-gradient(270deg, '+primaryColor+', '+secondaryColor+')'" [style.animation]="'AnimationName '+backgroundSpeed+'s ease infinite'"[style.background-size]="'200% 200%'" [hidden]="disabled">
    <div class="cos-content">
        <h3>WHAT THEY THINK</h3>
        <h1>My Testimonials</h1>
        <div class="cos-cont" [style.maxWidth]="(840 + 15 * elements)+'px'">
        <div class="testimonials-containers" [style.transform]="'translateX('+-position+'px)'">
            <div *ngFor="let element of inView; let i=index" [class]="inView[i]? 'cos-testimonial active':'cos-testimonial'" >
                <app-testimonial [testimonial]="testimonials[i]"></app-testimonial>
            </div>
            <div class="cos-testimonial" style="opacity:0;position: absolute;left:0px;" #target>
                <app-testimonial></app-testimonial>
            </div>
        </div>
        </div>
    </div>
</div>
