a{
    text-decoration: none;
    color:inherit;
}
*{
    margin:0px;
    padding:0px;
    font-family:'Montserrat',sans-serif;
}
.containerr{
    position: relative;
    padding-top:20px;
    width:100vw;
    height:110px;
    color:white;
}

.avatar{
  width:50px;
  height:50px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.329);
  margin-right:10px;
}

.contentt{
    position: relative;
    z-index: 100;
    width:90%;
    margin:auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    transition: transform 0.75s ease-out;
}
.right a{
    color:rgb(160, 160, 160);
    position: relative;
    margin-left:60px;
    transition: color 0.5s ease;
}
.right .active{
    color:white;
}
h3{
    font-weight: 300;
    font-size: calc(12px + 0.3vw);
}
.left{
    margin-right:40px;

}
img{
    transition: width 0.75s ease;
    width:100px;
    margin:auto;
}
.button{
    overflow: hidden;
    position: relative;
    background-color: transparent;
    padding:10px;
    border-radius: 10px;
    margin-right:2px;
    border: 1px solid white;
}
.button h3{
    transition: color 0.75s ease-out;
    position: relative;
    z-index: 2;
    font-weight: 400 !important;
}
.full{
    width:100% !important;
}
.line{
    position: absolute;
    bottom:-20px;
    width:0%;
    height:4px;
    background-color:#7cdc9f;
    transition: width 0.5s ease-out;
}
.circle{
    z-index:1;
    height:0%;
    width:0%;
    background-color: white;
    border-radius: 100px;
    position: absolute;
    top:-10px;
    left:-50px;
    transition: height 0.5s ease-out,width 0.75s ease-out;
}
.button:hover > .circle{
    height:200%;
    width:200%;
}
.right a:hover > .line{
    width:100%;
}
.button:hover > h3{
    color:#7cdc9f !important;
}
.menuu{
    cursor: pointer;
    display: none;
    font-size:1.6rem;
}
@media screen and (max-width:1500px){
    .menuu{
        display:block;
    }
    .right a{
        display: none;
    }
}

.slidemenu{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
    height:100vh;
    width:100vw;
    position: absolute;
    right:0px;
    top:0px;
    z-index: 101;
    visibility: hidden;
    transform: translateX(100vw) !important;
    transition: transform 0.75s ease-out;
    fa-icon{
        color:rgb(49, 49, 49);
    }
}
.account{
    width:70%;
    color:rgb(92, 92, 92);
    display: flex;
    margin:auto;
    justify-content: space-evenly;
    align-items: center;
    padding:20px;
    button{
        padding:10px;
        box-sizing: border-box;
        border-radius: 10px;
    }
}
.activee{
    visibility: visible !important;
    transform: translateX(0vw) !important;
}
.inactivee{
    visibility: visible !important;
    transform: translateX(100vw) !important;
}
.account h3{
    margin: 10px;
    font-weight: 600 !important;
    font-size:1rem;
}
.element{
    margin-top:10px;
    cursor: pointer;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items:flex-start;
    padding:20px;
    padding-left:40px;
    box-sizing: content-box;
    color:rgb(82, 82, 82);
    h3{
        font-size: 1rem;
        color:black;
        margin-right:20px;
    }
    fa-icon{
        color:rgb(49, 49, 49);
    }
}
.element *{
    display: inline-block;
    font-weight:400;
}
.slidemenu > fa-icon{
    position: relative;
    top:15px;
    padding:30px;
    font-weight: 100;
    margin-top:30px;
    font-size:1rem;
}
.element fa-icon{
    font-size:1rem;
}
.back{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    transition: height 0.75s ease-out;
    background-color:white;
    z-index: 1;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.336);
}
.unscrolled{
    height:0px !important
}
.scrolled{
    height:100% !important;
}
.blacked{
    transform: scale(0.9);
}
.blacked a h3{
    color: rgb(29, 29, 29) !important;
}
.blackedbutton{
    border-color: rgb(29, 29, 29);
}
.blackedcircle{
    background-color:rgb(29, 29, 29);;
}
