<div class="container">
    <h1>HOW IT WORKS</h1>
    <div class="step">
        <h2>STEP</h2>
        <h1>01</h1>
        <div class="cont k">
            <div class="left">
                <h2>Create an account</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam unde enim cumque. Quisquam aliquam omnis, repellendus facilis est iure, reiciendis tempore mollitia laboriosam asperiores illum vero sit dolore eos deleniti?</p>
                <div class="circle inline" *ngFor="let item of fakeArrayInline"></div>
            </div>
            <div class="line">
                <div class="circle" *ngFor="let item of fakeArray"></div>
            </div>
            <div class="right">
                <img src="assets/SVG/auth.svg">
            </div>
        </div>
    </div>
    <div class="step">
        <h2>STEP</h2>
        <h1>02</h1>
        <div class="cont">
            <div class="right">
                <img src="assets/SVG/choice.svg" style="width:50%">
            </div>
            <div class="line">
                <div class="circle" *ngFor="let item of fakeArray"></div>
            </div>
            
            <div class="left">
                <h2>Choose a template</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam unde enim cumque. Quisquam aliquam omnis, repellendus facilis est iure, reiciendis tempore mollitia laboriosam asperiores illum vero sit dolore eos deleniti?</p>
                <div class="circle inline" *ngFor="let item of fakeArrayInline"></div>
            </div>
        </div>
    </div>
    <div class="step">
        <h2>STEP</h2>
        <h1>03</h1>
        <div class="cont k">
            <div class="left">
                <h2>Design a Portfolio</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam unde enim cumque. Quisquam aliquam omnis, repellendus facilis est iure, reiciendis tempore mollitia laboriosam asperiores illum vero sit dolore eos deleniti?</p>
                <div class="circle inline" *ngFor="let item of fakeArrayInline"></div>
            </div>
            <div class="line">
                <div class="circle" *ngFor="let item of fakeArray"></div>
            </div>
            <div class="right">
                <img src="assets/SVG/design.svg">
            </div>
        </div>
    </div>
    <div class="step">
        <h2>STEP</h2>
        <h1>04</h1>
        <div class="cont">
            <div class="left centered">
                <h2>Start Selling</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam unde enim cumque. Quisquam aliquam omnis, repellendus facilis est iure, reiciendis tempore mollitia laboriosam asperiores illum vero sit dolore eos deleniti?</p>
                <div class="circle inline" *ngFor="let item of fakeArrayInline"></div>
            </div>
        </div>
    </div>
</div>