.containerr{
    display: flex;
    justify-content: space-evenly;
    width:90%;
    margin: auto;
    max-width: 1400px;
    padding-top:calc(5vh + 100px);
    align-items: center;
    flex-wrap: wrap;
    
}
img{
    max-width: 700px;
    width:90%;
}
@media screen and (max-width:1350px) {
    .left{
        display: none;
    }
}
.right{
    width:90%;
    max-width: 500px;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 50px;
}