.containerr{
    width:100%;
    max-width: 1400px;
    margin:auto;
    padding:50px;
    margin-top:50px;
    color:white;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    padding:0px;
}
h1{
    color:#57984c;
    font-size: 3rem;
    margin:0px;
    padding:0px;
}
p{
    margin:0px;
    padding:0px;
}
.card-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    app-price-card{
        flex-shrink: 0;
    }
    align-items: center;
    width:100%;
    margin:auto;
    overflow: auto;
    
}
@media screen and (max-width:920px) {
    .card-container{
        justify-content: center;
    }
}