<div class="row col-xl-12 col-md-12 m-2">
  <a routerLink='../'  class="back-btn"><fa-icon [icon]="['fas','angle-left']"></fa-icon></a>
</div>
<div class="row col-xl-12 col-md-12 justify-content-center wrap-reverse">

  <div class="row col-xl-7 col-md-12">
    <div class="card card-box col-xl-12 col-md-12 mb-5">
      <div class="card-body">
        <h5 class="card-title font-weight-bold font-size-lg mb-4">
          <span *ngIf="!edit">Add</span>
          <span *ngIf="edit">Edit</span>
          Achievement
        </h5>
        <form [formGroup]="achievementForm" (ngSubmit)="onSubmit()">
          <div class="position-relative form-group"><label class="required" for="exampleEmail">Title</label>
            <input class="form-control"
                   id="exampleEmail"
                   name="name"
                   placeholder="Title"
                   type="text"
                   formControlName="title"
                   [(ngModel)]="achievement.title"
            >
            <!-- Error Handling -->
            <div *ngIf="achievementForm.controls.title.errors?.required && achievementForm.controls.title.touched" class="alert isa_error">
              Title is required.
            </div>
            <!-- /Error handling -->
          </div>
          <div class="position-relative form-group"><label class="required" for="exampleText">Description</label>
            <textarea class="form-control"
                      id="exampleText"
                      name="text"
                      formControlName="description"
                      [(ngModel)]="achievement.description"
            >
            </textarea>
            <!-- Error Handling -->
            <div *ngIf="achievementForm.controls.description.errors?.required && achievementForm.controls.description.touched" class="alert isa_error">
              Description is required.
            </div>
            <!-- /Error handling -->
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
              <ngx-dropzone-label>Click or drag images here to upload!</ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngFor="let f of images" [file]="f" [removable]="true" (removed)="onRemove(f)">

              </ngx-dropzone-image-preview>
            </ngx-dropzone>
            <small class="form-text mb-3">Only jpeg or png images.</small>
          </div>

          <div class="form-group">
            <label class="required">Date</label>
            <div class="input-group input-group-lg mb-5">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <fa-icon [icon]="['fas', 'calendar-alt']"
                           class="mx-auto">
                  </fa-icon>
                </span>
              </div>
              <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                     bsDatepicker
                     class="form-control"
                     placeholder="Select date"
                     type="text"
                     formControlName="date"
                     [(ngModel)]="achievement.date"
              >
              <!-- Error Handling -->
              <div *ngIf="achievementForm.controls.date.errors?.required && achievementForm.controls.date.touched" class="alert isa_error">
                Date is required.
              </div>
              <!-- /Error handling -->
            </div>
          </div>
          <div class="divider my-4"></div>
          <button class="mt-1 btn btn-slack" [disabled]="!achievementForm.valid">
            <span *ngIf="!edit">Add</span>
            <span *ngIf="edit">Edit</span>
            Achievement
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row m-2 col-xl-5 col-md-12">
    <div class="card-info">
        <div class="info-container">
            <fa-icon [icon]="['fas','exclamation-circle']"></fa-icon>
            <h1>Tips & Information</h1>
            <p>Adding Elaborate Achievements in your portfolio would help you stand out in the crowd.
              <br>
              Don't be greedy with yourself, <strong>all achievements matter</strong> so don't spare to mention any.</p>
        </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3aaf85" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Saving..., Image upload might take a moment, just be patient. </p></ngx-spinner>
