<div class="p-2 m-2">
    <div class="heading-3 text-center m-3">Date Container</div>
    <div class="row">
      <div class="col-xl-12 col-md-12">
        <div class="row m-4 flex-layout justify-content-center text-center">
          <div class="col-xl-3 col-md-6 mt-4"  (click)="select('dateContainer', 1,1)" >
            <div class="cos-bubble rectangle col-xl-10 row justify-content-center m-2 p-10" [style.border]="dateContainer[0]? '2px solid #72d4af !important':''">
              <div class="cos-triangle" >

              </div>
              <h2>MAY 2020 - Present</h2>
            </div>
            <div class="form-check text-center m-2">
              <input class="form-check-input"
                     name="shapee"
                     type="radio"
                     [checked]="dateContainer[0]"
              >
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mt-4"  (click)="select('dateContainer', 2,2)">
            <div class="cos-bubble col-xl-10 row justify-content-center m-2" [style.border]="dateContainer[1]? '2px solid #72d4af !important':''">
              <div class="cos-triangle">

              </div>
              <h2>MAY 2020 - Present</h2>
            </div>
            <div class="form-check text-center m-2">
              <input class="form-check-input"
                     name="shapee"
                     type="radio"
                     [checked]="dateContainer[1]"
              ></div>
          </div>
          <div class="col-xl-3 col-md-6 mt-4"  (click)="select('dateContainer', 3,3)">
            <div class="cos-bubble col-xl-10 outline row justify-content-center m-2" [style.border]="dateContainer[2]? '2px solid #72d4af !important':''">
              <div class="cos-triangle">

              </div>
              <h2>MAY 2020 - Present</h2>
            </div>
            <div class="form-check text-center m-2">
              <input class="form-check-input"
                     name="shapee"
                     type="radio"
                     [checked]="dateContainer[2]"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header m-2"></div>
    <div class="heading-3 text-center m-2">Divider Icon</div>
    <div class="row">
      <div class="col-xl-12 col-md-12">
        <div class="row m-4 flex-layout justify-content-center text-center">
          <div class="col-xl-3 col-md-6 mt-4"  (click)="select('dividerIcon', 1,1)">
            <fa-icon [icon]='["fas","check"]' [style.border]="dividerIcon[0]? '2px solid #72d4af !important':''"></fa-icon>
            <div class="form-check text-center mt-4">
              <input class="form-check-input"
                     name="dividerr"
                     type="radio"
                     [checked]="dividerIcon[0]"
              ></div>
          </div>
          <div class="col-xl-3 col-md-6 mt-4"  (click)="select('dividerIcon', 2,2)">
            <fa-icon [icon]='["fas","asterisk"]' [style.border]="dividerIcon[1]? '2px solid #72d4af !important':''"></fa-icon>
            <div class="form-check text-center mt-4">
              <input class="form-check-input"
                     name="dividerr"
                     type="radio"
                     [checked]="dividerIcon[1]"
              ></div>
          </div>
          <div class="col-xl-3 col-md-6 mt-4"  (click)="select('dividerIcon', 3,3)">
            <fa-icon [icon]='["far","calendar-check"]'[style.border]="dividerIcon[2]? '2px solid #72d4af !important':''"></fa-icon>
            <div class="form-check text-center mt-4">
              <input class="form-check-input"
                     name="dividerr"
                     type="radio"
                     [checked]="dividerIcon[2]"
              ></div>
          </div>
        </div>
      </div>
    </div>
</div>
