<div class="p-2 m-2">
  <div class="heading-3 text-center m-3">Social Media Icons</div>
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <div class="row m-4 flex-layout justify-content-center text-center">
        <div [style.border]="socialMediaIcon[0]? '2px solid #72d4af !important':''" (click)="select('socialMediaIcon', 1,1)" class="col-xl-4 col-md-4 mt-4">
          <div class="cos-socials-container col-xl-12 row justify-content-center m-2">
            <div class="cos-social">
              <fa-icon [icon]="['fab','google']"></fa-icon>
            </div>
            <div class="cos-social">
              <fa-icon [icon]="['fab','facebook-f']"></fa-icon>
            </div>
            <div class="cos-social">
              <fa-icon [icon]="['fab','twitter']"></fa-icon>
            </div>
          </div>
          <div class="form-check text-center m-2">
            <input checked
                   class="form-check-input"
                   name="icons"
                   type="radio"
                   [checked]="socialMediaIcon[0]"
            >
          </div>
        </div>
        <div [style.border]="socialMediaIcon[1]? '2px solid #72d4af !important':''" (click)="select('socialMediaIcon', 2,2)" class="col-xl-4 col-md-4 mt-4">
          <div class="cos-socials-container col-xl-12 row justify-content-center m-2">
            <div class="cos-social square">
              <fa-icon [icon]="['fab','google']"></fa-icon>
            </div>
            <div class="cos-social square">
              <fa-icon [icon]="['fab','facebook-f']"></fa-icon>
            </div>
            <div class="cos-social square">
              <fa-icon [icon]="['fab','twitter']"></fa-icon>
            </div>
          </div>
          <div class="form-check text-center m-2">
            <input class="form-check-input"
                   name="icons"
                   type="radio"
                   [checked]="socialMediaIcon[1]"
            >
          </div>
        </div>
        <div [style.border]="socialMediaIcon[2]? '2px solid #72d4af !important':''" (click)="select('socialMediaIcon', 3,3)" class="col-xl-4 col-md-4 mt-4">
          <div class="cos-socials-container col-xl-12 row justify-content-center m-2">
            <div class="cos-social mid-square">
              <fa-icon [icon]="['fab','google']"></fa-icon>
            </div>
            <div class="cos-social mid-square">
              <fa-icon [icon]="['fab','facebook-f']"></fa-icon>
            </div>
            <div class="cos-social mid-square">
              <fa-icon [icon]="['fab','twitter']"></fa-icon>
            </div>
          </div>
          <div class="form-check text-center m-2">
            <input class="form-check-input"
                   name="icons"
                   type="radio"
                   [checked]="socialMediaIcon[2]"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-header m-2"></div>
  <div class="heading-3 text-center m-3">Contact Card</div>
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <div class="row m-2 col-xl-12 col-md-12 flex-layout justify-content-center text-center">
        <div (click)="select('contactCard', 1,1)"
             [style.border]="contactCard[0]? '2px solid #72d4af !important':''" class='cos-element m-2 col-xl-5 col-md-5 text-center'>
          <h2 style="text-align: left;">Contact Form</h2>
          <div class="cos-form">
            <div class="cos-left">
              <label style="text-align: left;">Your name</label>
              <input placeholder="Your Name" style="border-radius: 0px;" type="text"/>
              <label style="text-align: left;">Mail</label>
              <input placeholder="Your Email" style="border-radius: 0px;" type="email"/>
              <label style="text-align: left;">Phone</label>
              <input placeholder="Your Phone" style="border-radius: 0px;" type="number"/>
            </div>
            <div class="cos-right">
              <label style="text-align: left;">Message</label>
              <textarea placeholder="Your Message" style="border-radius: 0px;"></textarea>
            </div>
          </div>
          <div class="cos-btn-container" style="margin-bottom:20px;">
            <button class="cos-btn" style="border-radius: 0px;" type="submit">Send Message</button>
          </div>
          <div class="form-check text-center m-2">
            <input [checked]="contactCard[0]"
                   class="form-check-input"
                   name="contact"
                   type="radio" value="second">
          </div>
        </div>
        <div (click)="select('contactCard', 2, 2)"
             [style.border]="contactCard[1]? '2px solid #72d4af !important':''" class='cos-element m-2 col-xl-5 col-md-5 text-center'>

          <h2 style="text-align: left;">Contact Form</h2>
          <div class="cos-form">
            <div class="cos-left">
              <label style="text-align: left;">Your name</label>
              <input placeholder="Your Name" type="text"/>
              <label style="text-align: left;">Mail</label>
              <input placeholder="Your Email" type="email"/>
              <label style="text-align: left;">Phone</label>
              <input placeholder="Your Phone" type="number"/>
            </div>
            <div class="cos-right">
              <label>Message</label>
              <textarea placeholder="Your Message"></textarea>
            </div>
          </div>
          <div class="cos-btn-container" style="margin-bottom:20px;">
            <button class="cos-btn" type="submit">Send Message</button>
          </div>
          <div class="form-check text-center m-2">
            <input [checked]="contactCard[1]" class="form-check-input"
                   name="contact"
                   type="radio" value="second"></div>
        </div>
      </div>
    </div>
  </div>
</div>
