<div [class]='class'>
    <div class="title">
        <h1>{{title}}</h1>
        <h2>{{cost}}</h2>
        <p>Buid a website for free !</p>
    </div>
    <div class="elements">
        <div class="element">
            <p>WebiPie.me subdomain</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Many sections supported: experience, skills, projects,...</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Customize design preferences</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Request support</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Instant deployment</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Link to a custom domain name</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Website visit analytics</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Visitors can contact you</p>
            <p class="link">YES</p>
        </div>
    </div>
    <a (click)="clicked()" class="btn btn-sm btn-slack-secondary m-4">Get Started for Free</a>
</div>
