<div [class]='class'>
    <div class="title">
        <h1>{{title}}</h1>
        <h2>{{cost}}</h2>
        <p>Lorem Ipsum</p>
    </div>
    <div class="elements">
        <div class="element">
            <p>Lorem Ipsum</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Lorem Ipsum</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Lorem Ipsum</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Lorem Ipsum</p>
            <p class="link">YES</p>
        </div>
        <div class="element">
            <p>Lorem Ipsum</p>
            <p class="link no">No</p>
        </div>
        <div class="element">
            <p>Lorem Ipsum</p>
            <p class="link">YES</p>
        </div>
    </div>
    <button type="button" class="btn">BUY NOW</button>
</div>
