.ryker_tm_section {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  z-index: 1;
}

/*---------------------------------------------------*/
/*	04) RYKER HERO
/*---------------------------------------------------*/

.ryker_tm_hero {
  width: 100%;
  height: 100vh;
  float: left;
  position: relative;
  //background-color: #f9f9f9;
}
.ryker_tm_hero .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
@media (max-width:800px) {
	.ryker_tm_hero .container{
		margin-top:100px;
	}
}
.ryker_tm_hero .content {
  width: 100%;
  height: 100%;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}
.ryker_tm_hero .texts {
  padding-right: 50px;
}
.ryker_tm_hero .job {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.ryker_tm_hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.ryker_tm_hero .job h3 {
  //background-color: #f9f9f9;
  //color: blue;
  background: linear-gradient(270deg, #80d7c1, #2e75b9);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;

  //mix-blend-mode: screen;
  position: relative;
  z-index: 5;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.3;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.ryker_tm_hero .desc {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
.ryker_tm_hero .desc p {
  max-width: 550px;
  font-size: 17px;
}
.ryker_tm_button {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.ryker_tm_button a {
  text-decoration: none;
  color: #fff;
  background-color: #d1701f;
  border: 2px solid #d1701f;
  display: inline-block;
  padding: 15px 50px;
  font-family: "Poppins";
  border-radius: 50px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ryker_tm_button a:hover {
  background-color: transparent;
  color: #000;
}
.ryker_tm_hero .avatar {
  width: 100%;
  min-width: 200px;
  height: 50vh;
  max-width: 450px;
  position: relative;
  border-radius: 100%;
}
.ryker_tm_hero .avatar .image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  -webkit-box-shadow: inset 0px 0px 0px 18px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 0px 0px 18px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 0px 18px rgba(255, 255, 255, 0.3);
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
