<div class="ryker_tm_section" id="home">
    <div class="ryker_tm_hero">
        <div class="container">
            <div class="content">
                <div class="texts">
                    <div class="job">
                        <div class="background">

                        </div>
                        <h3 [style]="'background-color: linear-gradient(270deg, #80d7c1, #2e75b9)'">Senior Designer<br /> &amp; Developer</h3>
                    </div>
                    <!-- <div class="desc">
                        <p>Hi, I'm Alan Walker. A passionate Senior Designer and Front-End Developer based In NYC, USA</p>
                    </div> -->
                </div>
                <div class="avatar">

                    <img class="image" src="assets/dali.png">
                </div>
            </div>
        </div>
    </div>
</div>