<div class="ryker_tm_section" id="home">
    <div class="ryker_tm_hero">
        <div class="container">
            <div class="content">
                <div class="texts">
                    <div class="job">
                        <video playsinline autoplay muted loop>
                             <source src="http://codepen.io/Moslim/" type="video/mp4">
                        </video>
                        <h3>Senior Designer<br /> &amp; Developer</h3>
                    </div>
                    <!-- <div class="desc">
                        <p>Hi, I'm Alan Walker. A passionate Senior Designer and Front-End Developer based In NYC, USA</p>
                    </div> -->
                </div>
                <div class="avatar">

                    <img class="image" src="assets/dali.png">
                </div>
            </div>
        </div>
    </div>
</div>