
    <div class="cos-card">
        <div class="cos-header-container">
            <div class="cos-header">
                <div class="cos-left">
                    <img src="https://webipie.me/assets/SVG/logo.svg" alt="logo">
                </div>
                <div class="cos-right">
                    <a href="#">Go back to the website</a>
                </div>
            </div>
        </div>
        <div class="cos-body">
            <!-- <img src="https://webipie.me/assets/SVG/email.svg"> -->
            <img src="assets/email.svg">
            <h1>Welcome to Webipie.me</h1>
            <p>We Created a personal account for you. Please confirm your e-mail adress</p>
            <a href="#"><button>Confirm Email</button></a>
        </div>
        <div class="cos-footer">
            <div class="icons">
                <fa-icon [icon]="facebook"></fa-icon>
                <fa-icon [icon]="twitter"></fa-icon>
                <fa-icon [icon]="linkedin"></fa-icon>
            </div>
        </div>
    </div>
<div class="text-left col-xl-12">
    <h2>Portfolio Completion : </h2>
</div>
<progressbar class="mt-2" style="background-color: #e2e2e2" type="success" [animate]="true" [value]="completionValue" class="progress-bar-rounded progress-animated-alt mb-4">{{completionValue}}%</progressbar>