<div class="cos-container">
    <div [class]="scrolled? 'cos-scroll cos-show':'cos-scroll'"></div>
    <div class="cos-menu" [style.color]="scrolled? color+' !important':'white'" [style.filter]="scrolled? 'brightness(90%)!important':''">
        <div class="cos-left">
            <h1 style="text-transform: uppercase;text-align: center;">{{name}}</h1>
        </div>
        <div class="cos-right">
            <a (click)="clickAboutme($event)">ABOUT ME</a>
            <a (click)="clickExpertise($event)">EXPERTISE</a>
            <a (click)="clickExperience($event)">EXPERIENCE</a>
            <a (click)="clickEducation($event)">EDUCATION</a>
            <a (click)="clickPortfolio($event)">PORTFOLIO</a>
            <a (click)="clickAchievements($event)">ACHIEVEMENTS</a>
            <a (click)="clickTestimonials($event)">TESTIMONIALS</a>
            <a (click)="clickContact($event)">CONTACT ME</a>
        </div>
    </div>
</div>