<div [class]="delay? 'cardd':'cardd hidden'">
    <h1>Welcome</h1>
    <h3>Login to Webipie</h3>
    <!-- Error msg design
    <div class="error">
        <p>error</p>
    </div>
    -->
    <p>Enter details</p>
    <form action="" method="">
        <div class="input"><input type="email" placeholder="Email Adress"></div>
        <div class="input"><input type="password" placeholder="Password"></div>
        <button type="submit">Login</button>
    </form>
    <p style="margin: auto;margin-top:20px">Don't have an account? sign up <a href="#" style="color:#6d944e;font-weight:700">here</a></p>
    <div class="line"></div>
    <p style="margin:auto;margin-bottom:5px;">Or login using</p>
    <div class="logos">
        <fa-icon style="color:#DB4437" [icon]="google"></fa-icon>
        <fa-icon style="color:#0072b1" [icon]="linkedin" (click)="signinWithLinkedin()"></fa-icon>
    </div>

</div>
