<h1 (inViewportAction)="onIntersection()" [class]="class"
[inViewportOptions]="{ threshold: [0] }"
inViewport>MEET OUR TEAM</h1>
<div class="line"></div>
<div class="team-container">
    <app-team-member [name]="'Med Amine Hamdouni'" [picture]="'https://media-exp1.licdn.com/dms/image/C4D03AQEmmk2DS-OP7g/profile-displayphoto-shrink_800_800/0/1617576000611?e=1637798400&v=beta&t=GeYyCd8DT1a6lLZpvocy5ZJFXc0qMtJB9SmRRAEFxsw'" [position]="'Frontend Developer'" [githublink]="'https://github.com/Dopeamin'" [linkedinlink]="'https://www.linkedin.com/in/aminehmd'"></app-team-member>
    <app-team-member></app-team-member>
    <app-team-member></app-team-member>
    <app-team-member></app-team-member>
</div>
