.team-container{
    display: flex;
    justify-content: center;
    width:100vw;
    flex-wrap: wrap;
    height:auto;
    max-width: 1400px;
    margin: auto;
    padding:20px;
    box-sizing: border-box;
    *{
        margin:10px;
    }
}
h1{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    color:white;
    text-align: center;
    height:0px;
    overflow: hidden;
    margin-top:50px;
    transition: height 1s ease-out;
}
.active{
    height:50px !important;

}
.line{
    height:4px;
    width:200px;
    background-color: white;
    margin: auto;
}