.cos-container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width:fit-content;
    max-width: 300px;
    width:90%;
    border-radius: 10px;
    overflow: hidden;
    margin:auto;
    transition: border 0.25s ease;
}
.cos-image{
    width:100%;
    
    img{
        width:100%;
    }
}
.cos-content{
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: content-box;
}