<app-wrapper-simple sectionHeading="General Infos">
  <form #form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col-md-6">
        <div class="position-relative form-group"><label for="name">Portfolio Name</label>
          <input
            id="name" 
            name="name" 
            placeholder="First Name" 
            type="text"
            formControlName="name"
            [(ngModel)]="portfolio.name"
            [class]="!f.name.touched? 'form-control':f.name.errors?.required? 'form-control invalid':'form-control valid'">
            <!-- Error Handling -->
            <div *ngIf="f.name.errors?.required && f.name.touched" class="alert isa_error">
              Name is required.
            </div>
            <!-- /Error Handling -->
        </div>
      </div>

      <div class="col-md-6">
        <div class="position-relative form-group"><label for="position">Current Position</label>
          <input
            class="form-control" 
            id="position" 
            name="position" 
            placeholder="Ex : Developer" 
            type="text"
            formControlName="position"
            [(ngModel)]="portfolio.position"
            [class]="!f.position.touched? 'form-control':f.position.errors?.required? 'form-control invalid':'form-control valid'">
            <!-- Error Handling -->
            <div *ngIf="f.position.errors?.required && f.position.touched" class="alert isa_error">
              Position is required.
            </div>
            <!-- /Error Handling -->
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 ">
        <div class="position-relative form-group"><label for="email">About you</label>
        <textarea id="description"
        name="description"
        placeholder="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae impedit iste esse officiis, eaque dicta at eos. Dolor fugit itaque deserunt asperiores soluta, modi natus error velit. Aut, ad!"
        type="textarea"
        formControlName="description"
        autosize [minRows]="5" 
        [maxRows]="10" 
        [(ngModel)]="portfolio.description"
        [class]="!f.description.touched? 'form-control':(f.description.errors?.required || f.description.errors?.maxlength || f.description.errors?.minlength)? 'form-control invalid':'form-control valid'"></textarea>
            <!-- Error Handling -->
            <div *ngIf="f.description.errors?.required" class="alert isa_error">
              Description is required.
            </div>
            <div *ngIf="f.description.errors?.minlength" class="alert isa_error">
              Description Should be longer than 20 characters.
            </div>
            <div *ngIf="f.description.errors?.maxlength" class="alert isa_error">
              Description Should be shorter than 300 characters.
            </div>
            <!-- /Error handling -->
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="position-relative form-group"><label for="email">Email</label>
          <input
            id="email"
            name="email"
            placeholder="Email"
            type="email"
            formControlName="email"
            [(ngModel)]="portfolio.email"
            [class]="!f.email.touched? 'form-control':(f.email.errors?.required || f.email.errors?.email)? 'form-control invalid':'form-control valid'">
            <!-- Error Handling -->
            <div *ngIf="f.email.errors?.required && f.email.touched" class="alert isa_error">
              Email is required.
            </div>
            <div *ngIf="f.email.errors?.email" class="alert isa_error">
              Sould be a valid email
            </div>
            <!-- /Error handling -->
          </div>
      </div>

      <div class="col-md-6">
        <div class="position-relative form-group"><label for="phoneNumber">Phone</label>
          <input
            [class]="!f.phoneNumber.touched? 'form-control':f.phoneNumber.errors?.required? 'form-control invalid':'form-control valid'"
            id="phoneNumber" 
            name="phoneNumber" 
            placeholder="Phone Number" 
            type="text"
            formControlName="phoneNumber"
            [(ngModel)]="portfolio.phoneNumber">
            <!-- Error Handling -->
            <div *ngIf="f.phoneNumber.errors?.required && f.phoneNumber.touched" class="alert isa_error">
              Phone Number is required.
            </div>
            <!-- /Error handling -->
          </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <div class="position-relative form-group"><label for="github">Github</label>
          <input class="form-control"
            id="github"
            name="github"
            placeholder="Github"
            type="text"
            formControlName="github"
            [(ngModel)]="portfolio.github">
          </div>
      </div>

      <div class="col-md-6">
        <div class="position-relative form-group"><label for="linkedin">LinkedIn</label>
          <input
            class="form-control" 
            id="linkedIn" 
            name="linkedIn" 
            placeholder="linkedIn" 
            type="text"
            formControlName="linkedIn"
            [(ngModel)]="portfolio.linkedIn">
          </div>
      </div>
    </div>

    <label for="picture">Picture</label>
    <ngx-dropzone [multiple]="false" (change)="onSelectPicture($event)">
      <ngx-dropzone-label>Click or drag images here to upload!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of pictures" [file]="f" [removable]="true" (removed)="onRemovePicture(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <small class="form-text mb-3">Only jpeg or png images.</small>

    <label for="cv">CV</label>
    <ngx-dropzone [multiple]="false" (change)="onSelectCV($event)">
      <ngx-dropzone-label>Click or drag files here to upload!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemoveCV(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <small class="form-text mb-2">Only pdf files.</small>


    

    <button class="mt-2 btn btn-slack" [disabled]="!portfolioForm.valid">Save</button>
  </form>
</app-wrapper-simple>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3aaf85" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Saving... </p></ngx-spinner>