<app-wrapper-simple sectionHeading="General Infos">
  <form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col-md-6">
        <div class="position-relative form-group"><label for="name">Portfolio Name</label>
          <input
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="First Name" 
            type="text"
            formControlName="name"
            [(ngModel)]="portfolio.name">
        </div>
      </div>

      <div class="col-md-6">
        <div class="position-relative form-group"><label for="position">Current Position</label>
          <input
            class="form-control" 
            id="position" 
            name="position" 
            placeholder="Ex : Developer" 
            type="text"
            formControlName="position"
            [(ngModel)]="portfolio.position">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 ">
        <div class="position-relative form-group"><label for="email">About you</label>
        <textarea id="description"
        name="description"
        placeholder="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae impedit iste esse officiis, eaque dicta at eos. Dolor fugit itaque deserunt asperiores soluta, modi natus error velit. Aut, ad!"
        type="textarea"
        formControlName="description"
        autosize [minRows]="5" 
        [maxRows]="10" 
        class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="position-relative form-group"><label for="email">Email</label>
          <input 
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            type="email"
            formControlName="email"
            [(ngModel)]="portfolio.email">
          </div>
      </div>

      <div class="col-md-6">
        <div class="position-relative form-group"><label for="phone">Phone</label>
          <input
            class="form-control" 
            id="phone" 
            name="phone" 
            placeholder="Phone Number" 
            type="number"
            formControlName="phone"
            [(ngModel)]="portfolio.phoneNumber">
          </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <div class="position-relative form-group"><label for="github">Github</label>
          <input class="form-control"
            id="github"
            name="github"
            placeholder="Github"
            type="text"
            formControlName="github"
            [(ngModel)]="portfolio.github">
          </div>
      </div>

      <div class="col-md-6">
        <div class="position-relative form-group"><label for="linkedin">LinkedIn</label>
          <input
            class="form-control" 
            id="linkedin" 
            name="linkedin" 
            placeholder="LinkedIn" 
            type="text"
            formControlName="linkedin"
            [(ngModel)]="portfolio.linkedIn">
          </div>
      </div>
    </div>

    <label for="picture">Picture</label>
    <ngx-dropzone [multiple]="false" (change)="onSelectPicture($event)">
      <ngx-dropzone-label>Click or drag images here to upload!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of pictures" [file]="f" [removable]="true" (removed)="onRemovePicture(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <small class="form-text mb-3">Only jpeg or png images.</small>

    <label for="cv">CV</label>
    <ngx-dropzone [multiple]="false" (change)="onSelectCV($event)">
      <ngx-dropzone-label>Click or drag files here to upload!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemoveCV(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <small class="form-text mb-2">Only pdf files.</small>


    

    <button class="mt-2 btn btn-slack">Save</button>
  </form>
</app-wrapper-simple>
