<div class="row col-xl-12 col-md-12 m-2">
  <a routerLink='../'  class="back-btn"><fa-icon [icon]="['fas','angle-left']"></fa-icon></a>
</div>
<div class="row col-xl-12 col-md-12 justify-content-center wrap-reverse">

  <div class="row col-xl-6 col-md-12">
    <div class="card card-box col-xl-12 col-md-12 mb-5">
      <div class="card-body">
        <h5 class="card-title font-weight-bold font-size-lg mb-4">
          <span *ngIf="!edit">Add</span>
          <span *ngIf="edit">Edit</span>
          Testimonial
        </h5>
        <form [formGroup]="testimonialForm" (ngSubmit)="onSubmit()">
          <div class="position-relative form-group"><label for="exampleEmail" class="required">First & Last Name</label>
            <input class="form-control"
                   id="exampleEmail"
                   name="name"
                   placeholder="John Doe"
                   formControlName="name"
                   type="text"
                   [(ngModel)]="testimonial.name"
            >
            <!-- Error Handling -->
            <div *ngIf="testimonialForm.controls.name.errors?.required && testimonialForm.controls.name.touched" class="alert isa_error">
              First & Last Name is required.
            </div>
            <!-- /Error handling -->
          </div>
          <div class="position-relative form-group"><label class="required" for="examplePassword">Position</label>
            <input class="form-control"
                   id="examplePassword"
                   name="postion"
                   placeholder="Developer"
                   type="text"
                   formControlName="position"
                   [(ngModel)]="testimonial.position"
            >
            <!-- Error Handling -->
            <div *ngIf="testimonialForm.controls.position.errors?.required && testimonialForm.controls.position.touched" class="alert isa_error">
              Position is required.
            </div>
            <!-- /Error handling -->
          </div>
          <div class="position-relative form-group"><label class="required" for="exampleText">Description</label>
            <textarea class="form-control"
                      id="exampleText"
                      name="text"
                      formControlName="description"
                      [(ngModel)]="testimonial.description"
            >
                      </textarea>
                      <!-- Error Handling -->
                      <div *ngIf="testimonialForm.controls.description.errors?.required && testimonialForm.controls.description.touched" class="alert isa_error">
                        Description is required.
                      </div>
                      <div *ngIf="testimonialForm.controls.description.errors?.maxlength && testimonialForm.controls.description.touched" class="alert isa_error">
                        Description should be shorter than 300 characters.
                      </div>
                      <!-- /Error handling -->
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
              <ngx-dropzone-label>Click or drag images here to upload!</ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngFor="let f of images" [file]="f" [removable]="true" (removed)="onRemove(f)">

              </ngx-dropzone-image-preview>
            </ngx-dropzone>
            <small class="form-text mb-3">Only jpeg or png images.</small>
          </div>

          <div class="divider my-4"></div>
          <button class="mt-1 btn btn-slack" [disabled]="!testimonialForm.valid">
            <span *ngIf="!edit">Add</span>
            <span *ngIf="edit">Edit</span>
            Testimonial
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row m-2 col-xl-5 col-md-12">
    <div class="card-info">
      <div class="info-container">
        <fa-icon [icon]="['fas','exclamation-circle']"></fa-icon>
        <h1>Tips & Information</h1>
        <p>Testimonials increase trust in your skills and proficiency</p>
        <p>When it comes to testimonials, <strong>the more the merrier.</strong> Nevertheless, you should be honest and authentic.</p>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3aaf85" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Saving..., Image upload might take a moment, just be patient. </p></ngx-spinner>
