
<div class="row col-xl-12 col-md-12 justify-content-center">
    <div class="row col-xl-7 col-md-12">
        <div class="card card-box col-xl-12 col-md-12 mb-5">
            <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Add Testimonial</h5>
                <form>
                    <div class="position-relative form-group"><label for="exampleEmail">First & Last Name</label>
                      <input class="form-control"
                             id="exampleEmail"
                             name="name"
                             placeholder="John Doe"
                             type="text">
                    </div>
                    <div class="position-relative form-group"><label for="examplePassword">Position</label>
                      <input class="form-control"
                             id="examplePassword"
                             name="password"
                             placeholder="Developer"
                            type="text">
                    </div>
                    <div class="position-relative form-group"><label for="exampleText">Description</label>
                      <textarea class="form-control"
                                id="exampleText"
                                name="text">
                      </textarea>
                    </div>

                    <label>Picture</label>
                    <dropzone *ngIf="type === 'component'" class="dropzone-container" [config]="config" [disabled]="disabled" [message]="'Click or drag images here to upload'" (init)="onUploadInit()" (error)="onUploadError()" (success)="onUploadSuccess()"></dropzone>
                    <div *ngIf="type === 'directive'" class="dropzone dropzone-container" [dropzone]="config" [disabled]="disabled" (init)="onUploadInit()" (error)="onUploadError()" (success)="onUploadSuccess()"></div>
                    <div class="divider my-4"></div>
                    <button class="mt-1 btn btn-slack">Add Testimonial</button>
                </form>
            </div>
        </div>
    </div>
</div>
