<div class="row col-xl-12 col-md-12 m-2">
  <a routerLink='../'  class="back-btn"><fa-icon [icon]="['fas','angle-left']"></fa-icon></a>
</div>
<div class="row col-xl-12 col-md-12 justify-content-center wrap-reverse">
  
  <div class="row col-xl-7 col-md-12">
    <div class="card card-box col-xl-12 col-md-12 mb-5">
      <div class="card-body">
        <h5 class="card-title font-weight-bold font-size-lg mb-4">
          <span *ngIf="!edit">Add</span>
          <span *ngIf="edit">Edit</span>
          Project
        </h5>
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
          <div class="position-relative form-group"><label for="exampleEmail">Title</label>
            <input class="form-control"
                   id="Title"
                   name="name"
                   placeholder="Title"
                   type="text"
                   formControlName="name"
                   [(ngModel)]="project.name"
            >
          </div>
          <div class="position-relative form-group"><label for="exampleText">Description</label>
            <textarea class="form-control"
                      id="exampleText"
                      name="text"
                      formControlName="description"
                      [(ngModel)]="project.description"
            ></textarea>
          </div>

          
          <div class="form-group">
            <label for="image">Images</label>
            <div class="my-2 mx-2">
              <img *ngFor="let image of project.imgs" [src]="image" class="mx-1" style="width:40px; height: 40px">
            </div>
            <ngx-dropzone  (change)="onSelectImage($event)">
              <ngx-dropzone-label>Click or drag images here to upload!</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of images" [file]="f" [removable]="true" (removed)="onRemoveImage(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            <small class="form-text mb-3">Only jpeg or png images.</small>
          </div>

          <div class="form-group">
            <label for="video">Video</label>
            <ngx-dropzone  (change)="onSelectVideo($event)">
              <ngx-dropzone-label>Click or drag images here to upload!</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of videos" [file]="f" [removable]="true" (removed)="onRemoveVideo(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            <small class="form-text mb-3">Only jpeg or png images.</small>
          </div>

          <div class="position-relative form-group"><label for="exampleEmail">Skills</label>
            <input class="form-control"
                   id="exampleEmail"
                   name="name"
                   placeholder="Title"
                   type="text"
                   formControlName="skills"
                   [(ngModel)]="project.skills"
            >
          </div>
          <div class="position-relative form-group"><label for="exampleEmail">Link</label>
            <input class="form-control"
                   id="exampleEmail"
                   name="name"
                   placeholder="Link"
                   type="text"
                   formControlName="link"
                   [(ngModel)]="project.link"
            >
          </div>
          <div class="position-relative form-group"><label for="exampleEmail">Github Repo</label>
            <input class="form-control"
                   id="exampleEmail"
                   name="name"
                   placeholder="Github Repo"
                   type="text"
                   formControlName="github"
                   [(ngModel)]="project.github"
            >
          </div>
          <div class="divider my-4"></div>
          <button class="mt-1 btn btn-slack" [disabled]="!projectForm.valid">
            <span *ngIf="!edit">Add</span>
            <span *ngIf="edit">Edit</span>
            Project
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row m-2 col-xl-5 col-md-12">
    <div class="card-info">
        <div class="info-container">
            <fa-icon [icon]="['fas','exclamation-circle']"></fa-icon>
            <h1>Tips & Information</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi error a omnis illo temporibus dolorum eos, obcaecati deleniti id reprehenderit rerum aut culpa, quo ullam praesentium tenetur ea fuga ducimus?</p>
        </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3aaf85" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Saving... </p></ngx-spinner>

