<app-wrapper-seamless>
  <div class="col-xl-7 ">
    <div class="card card-box mb-5">
      <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Add Project</h5>
        <form>
          <div class="position-relative form-group"><label for="exampleEmail">Title</label>
            <input class="form-control"
                   id="Title"
                   name="name"
                   placeholder="Title"
                   type="text">
          </div>
          <div class="position-relative form-group"><label for="exampleText">Description</label><textarea
            class="form-control" id="exampleText" name="text"></textarea></div>
          <div class="position-relative form-group">
            <label>Images</label>
            <dropzone (error)="onUploadError()" (init)="onUploadInit()" (success)="onUploadSuccess()" *ngIf="type === 'component'"
                      [config]="config" [disabled]="disabled" [message]="'Click or drag images here to upload'"
                      class="dropzone-container"></dropzone>
          </div>

          <div (error)="onUploadError()" (init)="onUploadInit()" (success)="onUploadSuccess()"
               *ngIf="type === 'directive'" [disabled]="disabled" [dropzone]="config"
               class="dropzone dropzone-container"></div>
          <div class="position-relative form-group"><label for="exampleEmail">Skills</label>
            <input class="form-control"
                   id="exampleEmail"
                   name="name"
                   placeholder="Title"
                   type="text">
          </div>
          <div class="position-relative form-group"><label for="exampleEmail">Url</label>
            <input class="form-control"
                   id="exampleEmail"
                   name="name"
                   placeholder="Title"
                   type="text">
          </div>
          <div class="position-relative form-group"><label for="exampleEmail">Github Repo</label>
            <input class="form-control"
                   id="exampleEmail"
                   name="name"
                   placeholder="Title"
                   type="text">
          </div>
          <div class="divider my-4"></div>
          <button class="mt-1 btn btn-slack">Add Project</button>

        </form>
      </div>
    </div>
  </div>
</app-wrapper-seamless>
