.projects {
    min-height:100vh;
    background-color: #f8f8f8;
    padding: 140px 0px 100px 0px;
}

.portfolio-ktiba{
    font-family: "Poppins";
    font-weight: 600;
    text-transform: uppercase;
    color: #d1701f;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.h3-title {
    font-weight: 700;
    line-height: 1.4;
    font-family: "Poppins";
    color: #000;
    font-size: 30px;
    max-width: 700px;
}