<div class="cos-container">
    <div class="cos-content">
        <h3>MY WORKS</h3>
        <h1 [style]="'color:'+primaryColor+'!important;filter:brightness(70%)'">My Portfolio</h1>
        <div class="cos-nav {{button == 2? 'square':''}}">
            <div [ngClass]="globalTag=='All'? 'cos-btn active':'cos-btn'" [style.borderColor]="primaryColor+'!important'"  (click)='changeTag("All")'><p>All</p></div>
            <div [ngClass]="globalTag=='Design'? 'cos-btn active':'cos-btn'" [style.borderColor]="primaryColor+'!important'" (mouseover)="hover($event)" [style.color]="primaryColor" (click)='changeTag("Design")'><p>Design</p></div>
            <div [ngClass]="globalTag=='Photoshop'? 'cos-btn active':'cos-btn'" [style.borderColor]="primaryColor+'!important'" [style.color]="primaryColor" (click)='changeTag("Photoshop")'><p>Photoshop</p></div>
            <div [ngClass]="globalTag=='Illustrator'? 'cos-btn active':'cos-btn'" [style.borderColor]="primaryColor+'!important'" [style.color]="primaryColor" (click)='changeTag("Illustrator")'><p>Illustrator</p></div>
            <div [ngClass]="globalTag=='Indesign'? 'cos-btn active':'cos-btn'" [style.borderColor]="primaryColor+'!important'" [style.color]="primaryColor"(click)='changeTag("Indesign")'><p>Indesign</p></div>
        </div>
        <div class="cos-project-container">
            <app-project-element *ngFor="let project of projects; let i=index" [project]="project" [globalTag]="globalTag" [tags]="project.skills"></app-project-element>
        </div>
    </div>
</div>
