<div class="cos-triangle-container">
<div class="cos-triangle">

</div>
</div>
<div class="cos-container">
    <div class="cos-content">
        <div class="cos-left">
            <h1 [style]="'color:'+primaryColor+';filter:brightness(70%)'"><div class="cos-firstletter" [style]="'color:'+secondaryColor+';filter:brightness(130%)'">A</div>bout me</h1>
            <h2 [style]="'color:'+primaryColor+';filter:brightness(70%)'">I'm a {{position}}</h2>
            <p [style]="'color:'+primaryColor+';font-family:'+font">{{description}}</p>
            <div class="links">
            <a *ngIf="github" class="cos-btn"  href="{{github | url}}" target="_blank"><fa-icon [icon]="gitHub"></fa-icon></a>
            <a *ngIf="linkedin" class="cos-btn"  href="{{linkedin | url}}" target="_blank"><fa-icon [icon]="linkedIn"></fa-icon></a>
            </div>
        </div>
        <div class="cos-right">
            <div class="cos-image {{square? 'square':''}}">
                <img src="{{picture}}">
            </div>
        </div>
    </div>
</div>
