<div class="cos-triangle-container">
<div class="cos-triangle">
    
</div>
</div>
<div class="cos-container">
    <div class="cos-content">
        <div class="cos-left">
            <h1><div class="cos-firstletter">A</div>bout me</h1>
            <h3>HELLO LOREM</h3>
            <h2>I'm a developer.</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae corporis maiores asperiores provident nobis, tempore assumenda non obcaecati rem ea illum ratione esse odio cumque? Placeat velit unde eum ipsa?</p>
        </div>
        <div class="cos-right">
            <div class="cos-image">
                <img src="assets/johndoe.jpg">
            </div>
        </div>
    </div>
</div>