@media(max-width: 500px){
    .no-padding-mobile {
        padding-left: 0 !important;
        padding-right: 0 !important ;
    }
}

@media(min-width:950px) and (max-width:1050px){
    .no-padding-mobile {
        padding-left: 0 !important;
        padding-right: 0 !important ;
    }
}