<div class="row">
  <div class="col-xl-5 col-lg-6">
    <div class="bg-vicious-stance p-3 rounded text-white h-100">
      <div class="d-flex align-items-start justify-content-between">
        <div class="avatar-icon-wrapper d-100">
          <span class="badge badge-circle badge-success">Online</span>
          <div class="avatar-icon d-100">
            <img alt="..." src="assets/johndoe.jpeg"/>
          </div>
        </div>
        <a [routerLink]="" class="btn btn-sm btn-slack shadow-none">
          Follow
        </a>
      </div>
      <div class="font-weight-bold font-size-lg d-flex align-items-center mt-2 mb-0">
        <span>John Doe</span>
      </div>
      <p class="mb-4 font-size-md text-white-50">@johndoe</p>
      <a [routerLink]="" class="btn btn-sm btn-outline-light shadow-none mr-2">
        Send message
      </a>
      <a [routerLink]="" class="btn btn-sm btn-success shadow-none" tooltip="Add to favourites">
        <fa-icon [icon]="['fas', 'star']"></fa-icon>
      </a>
      <p class="text-white-50 mb-0 py-4">
        Short profile bio description here. Pleasure of the moment, so blinded by desire, that they cannot foresee... <a
        [routerLink]="" class="text-white">Read more</a>
      </p>

      <div class="pt-3 pb-4">
        <div class="row no-gutters text-center">
          <div class="col">
            <b class="d-block font-weight-bold font-size-lg">456</b>
            <small class="text-uppercase text-white-50">friends</small>
          </div>
          <div class="col">
            <b class="d-block font-weight-bold font-size-lg">1.3k</b>
            <small class="text-uppercase text-white-50">updates</small>
          </div>
          <div class="col">
            <b class="d-block font-weight-bold font-size-lg">34</b>
            <small class="text-uppercase text-white-50">followers</small>
          </div>
        </div>
      </div>
      <div class="font-weight-bold font-size-lg d-flex align-items-center mb-3">
        <span>Job titles</span>
      </div>
      <div class="py-2">
        <div class="d-flex justify-content-between">
                            <span class="d-block">
                                <a [routerLink]="" class="text-white">Software developer</a>
                            </span>
          <span class="badge badge-dark">
                                22
                            </span>
        </div>
      </div>
      <div class="py-2">
        <div class="d-flex justify-content-between">
                            <span class="d-block">
                                <a [routerLink]="" class="text-white">QA Engineer</a>
                            </span>
          <span class="badge badge-dark">
                                23
                            </span>
        </div>
      </div>
      <div class="py-2">
        <div class="d-flex justify-content-between">
                            <span class="d-block">
                                <a [routerLink]="" class="text-white">UX Specialist</a>
                            </span>
          <span class="badge badge-dark">
                                76
                            </span>
        </div>
      </div>
      <div class="py-2">
        <div class="d-flex justify-content-between">
                            <span class="d-block">
                                <a [routerLink]="" class="text-white">Frontend Architect</a>
                            </span>
          <span class="badge badge-dark">
                                15
                            </span>
        </div>
      </div>
      <div class="py-2">
        <div class="d-flex justify-content-between">
                            <span class="d-block">
                                <a [routerLink]="" class="text-white">DevOps Manager</a>
                            </span>
          <span class="badge badge-dark">
                                5
                            </span>
        </div>
      </div>

    </div>
  </div>
  <div class="col-xl-6 col-lg-6">
    <div class="row mt-5">
      <div class="col-lg-12 col-md-6 col-xl-6">
        <div class="rounded card card-box bg-white mb-5">
          <div class="p-4">
            <div class="align-box-row">
              <div class="font-weight-bold">
                <small class="text-black-50 d-block mt-2 mb-2 text-uppercase">Total Views</small>
                <span class="font-size-xxl ">586,356</span>
              </div>
            </div>
            <div class="mt-1">
              <fa-icon [icon]="['fas', 'arrow-up']" class="text-danger"></fa-icon>
              <span class="text-success pr-1">15.4%</span>
              <span class="text-black-50">increase since last year</span>
            </div>
            <div class="mt-4">
              <button class="btn btn-pill btn-outline-dark" type="button">
                                <span class="btn-wrapper--label">
                                    View report
                                </span>
                <span class="btn-wrapper--icon">
                                    <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-6 col-xl-6">
        <div class="rounded card card-box bg-white mb-5">
          <div class="p-4">
            <div class="align-box-row">
              <div class="font-weight-bold">
                <small class="text-black-50 d-block mt-2 mb-2 text-uppercase">Views This Week</small>
                <span class="font-size-xxl ">86,356</span>
              </div>
            </div>
            <div class="mt-1">
              <fa-icon [icon]="['fas', 'arrow-up']" class="text-danger"></fa-icon>
              <span class="text-success pr-1">15.4%</span>
              <span class="text-black-50">increase since last week</span>
            </div>
            <div class="mt-4">
              <button class="btn btn-pill btn-outline-dark" type="button">
                                <span class="btn-wrapper--label">
                                    View report
                                </span>
                <span class="btn-wrapper--icon">
                                    <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
                                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-box justify-content-center">
      <div class="card-header bg-light ">
        <div class="card-header--title">
          <small>Network</small>
          <b class="font-size-lg d-flex align-items-center">Your Social Media</b>
        </div>
        <div class="card-header--actions">
          <a [routerLink]="" class="btn btn-link btn-link-primary p-0 font-size-xl text-primary" tooltip="View options">
            <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
          </a>
        </div>
      </div>
      <div class="col-xl-12 col-lg-6">
        <div class="px-5 pt-5">
          <div class="row ">
            <div class="col-lg-6 col-md-6 col-xl-6">
              <div class="feature-box justify-content-center d-flex align-items-start text-black mb-5">
                <div>
                  <div class="bg-brand-facebook text-center text-white font-size-xl d-50 rounded-circle">
                    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                  </div>
                </div>
                <div class="pl-3">
                  <h3 class="font-size-lg font-weight-bold">Facebook</h3>
                  <button class="btn btn-sm btn-outline-dark" type="button">View profile</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6">
              <div class="feature-box justify-content-center d-flex align-items-start text-black mb-5">
                <div>
                  <div class="bg-brand-github text-center text-white font-size-xl d-50 rounded-circle">
                    <fa-icon [icon]="['fab', 'github']"></fa-icon>
                  </div>
                </div>
                <div class="pl-3">
                  <h3 class="font-size-lg font-weight-bold">Github</h3>
                  <button class="btn btn-sm btn-outline-dark" type="button">View profile</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xl-6">
              <div class="feature-box justify-content-center d-flex align-items-start text-black mb-5">
                <div>
                  <div class="bg-brand-twitter text-center text-white font-size-xl d-50 rounded-circle">
                    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                  </div>
                </div>
                <div class="pl-3">
                  <h3 class="font-size-lg font-weight-bold">Twitter</h3>
                  <button class="btn btn-sm btn-outline-dark" type="button">View profile</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6">
              <div class="feature-box justify-content-center d-flex align-items-start text-black mb-5">
                <div>
                  <div class="bg-brand-google text-center text-white font-size-xl d-50 rounded-circle">
                    <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
                  </div>
                </div>
                <div class="pl-3">
                  <h3 class="font-size-lg font-weight-bold">Linked In</h3>
                  <button class="btn btn-sm btn-outline-dark" type="button">View profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
