/* You can add global styles to this file, and also import other style files */
*{
    margin:0px;
    padding:0px;
    font-family:'Montserrat',sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
}
body{
    overflow-x: hidden;
}