<!-- ABOUT -->
<div class="ryker_tm_section" id="about">
    <div class="ryker_tm_about">
        <div class="container">
            <div class="about_inner">
                <div class="left wow fadeInLeft" data-wow-duration="1.5s">
                    <div class="image">
                        <img src="assets/jawher.jpg" alt=""
                            class="about_image"
                            style=""
                        >
                       <!--  <div class="experience">
                            <h3 class="year" data-img-url="img/about/2.jpg">7</h3>
                            <div id="circle">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                    <defs>
                                        <path id="circlePath" d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
                                    </defs>
                                    <circle cx="150" cy="100" r="75" fill="none"/>
                                    <g>
                                        <use xlink:href="#circlePath" fill="none"/>
                                        <text fill="#000">
                                            <textpath xlink:href="#circlePath">Years of best and successful work experience</textpath>
                                        </text>
                                    </g>
                                </svg>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="right wow fadeInRight" data-wow-duration="1.5s">
                    <div class="ryker_tm_title">
                        <span>About Me</span>
                        <h3>A passionate Senior Designer and Front-End Developer based In NYC, USA</h3>
                    </div>
                    <div class="text">
                        <p>I am passionate Senior Designer, and I'm very passionate and dedicated to my work. With 7 years experience as a professional Web developer, I have acquired the skills and knowledge necessary to make your project a success.</p>
                    </div>
                    <div class="signature">
                        <img src="img/signature.png" alt="" />
                    </div>
                    <div class="ryker_tm_button">
                        <a href="#" class="download-btn">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ABOUT -->