.ryker_tm_copyright{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #d1701f;
	padding: 80px 0px;
}
.ryker_tm_copyright .copyright_inner{
	width: 100%;
	height: auto;
	clear: both;
    text-align: center;
}
.ryker_tm_copyright .text p{
	color: #fff;
	font-family: "Poppins";
}
.ryker_tm_copyright .social ul{
	margin: 0px;
	list-style-type: none;
}
.ryker_tm_copyright .social ul li{
	margin: 0px 20px 0px 0px;
	display: inline-block;
}
.ryker_tm_copyright .social ul li:last-child{
	margin-right: 0px;
}
.ryker_tm_copyright .social ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
}