.portfolio_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    position: relative;
}

.project_element {
    $size: 320px;
    $radius: 10px;
    width: $size;
    height: $size; 
    max-width: 100%;
    z-index:1;

    position: relative;
    margin-bottom: 50px;
    cursor:pointer;
    
    img {
        position: absolute;
        top:0 ; left: 0 ;
        width: 100%;
        height:100%;
        object-fit: cover;
        border-radius: $radius;
    }

    .overlay{
        position: absolute;
        top: 0 ; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.445);
        border-radius: $radius;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        padding-left: 25px;
        padding-bottom: 20px;

        opacity: 0;
        transition: opacity 300ms ease;
        h3{
            font-weight: 600;
            font-family: 'Poppins';
            font-size: 21px;
        }
        p{
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 500;
            color: #ccc;
        }
    }  
    &:hover {
        .overlay{
            opacity:1;
        }
    } 

    .backgrounds{
        position:absolute;
        top:0 ; left: 0;
        width: 100%; height: 100%;
    }

    .backgrounds::after, .backgrounds::before{
        content: '';
        position: absolute;
        top:0; left:0;
        width: 100%; height: 100%;
        z-index: -1;
        border-radius: $radius;
    }

    .backgrounds::after{
        background-color:#d1701f;
    }
    &:hover .backgrounds::after{
        animation: slick-hover-2 3s .2s linear infinite;
    }

    .backgrounds::before {
        background-color: black;
    }
    &:hover .backgrounds::before{
        animation: slick-hover 3s .2s linear infinite reverse;
    }

    &:hover{
        animation: hoverPop 300ms linear;
    }
}

@keyframes hoverPop {
    0%, 100% {
      transform: scale(1);
    }
    33% {
      transform: scale(1.05);
    }
    66% {
      transform: scale(.90);
    }
}

@keyframes slick-hover {
    0%{
        transform: translateY(0px) translateX(0px);
    }
    5% {
      transform: translateY(20px) translateX(20px) }
    16.67% {
      transform: translateY(-13px) translateX(-9px) }
    33.33% {
      transform: translateY(4px) translateX(12px) }
    50.00% {
      transform: translateY(20px) translateX(-20px) }
    66.67% {
      transform: translateY(-3px) translateX(8px) }
    83.33% {
      transform: translateY(-15px) translateX(-11px) }
    95.00% {
      transform: translateY(20px) translateX(20px) }
    100%{
        transform: translateY(0px) translateX(0px);
    }
  }
  
  @keyframes slick-hover-2 {
      0%{
        transform: translateY(0px) translateX(0px);
      }
    5.00% {
      transform: translateY(-20px) translateX(-20px) }
    16.67% {
      transform: translateY(3px) translateX(-5px) }
    33.33% {
      transform: translateY(18px) translateX(-10px) }
    50.00% {
      transform: translateY(-20px) translateX(20px) }
    66.67% {
      transform: translateY(15px) translateX(-4px) }
    83.33% {
      transform: translateY(-1px) translateX(15px) }
    95.00% {
      transform: translateY(-20px) translateX(-20px) }
    100%{
        transform: translateY(0px) translateX(0px);
    }
  }

  @media (max-width: 765px){
    .portfolio_list{
        justify-content: center;
    }
  }





  //modal box stuff

  .ryker_tm_modalbox .description_wrap::-webkit-scrollbar{
    width: 11px;
  }
  .ryker_tm_modalbox .description_wrap{
    scrollbar-width: thin;
    scrollbar-color: #999 #fff;
  }
  .ryker_tm_modalbox .description_wrap:-webkit-scrollbar-track{
    background: #fff;
  }
  .ryker_tm_modalbox .description_wrap::-webkit-scrollbar-thumb{
    background-color: #999;
    border-radius: 6px;
    border: 3px solid #fff;
  }
  .ryker_tm_modalbox{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    visibility: hidden;
    
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
  }
  .ryker_tm_modalbox.opened{
    opacity: 1;
    visibility: visible;
  }
  .ryker_tm_modalbox .box_inner{
    position: absolute;
    top: 70px;
    bottom: 70px;
    max-width: 968px;
    width:100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin-top: -20px;
    transition-delay: .3s;
    
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
  }
  .ryker_tm_modalbox.opened .box_inner{
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
  }
  .ryker_tm_modalbox .close{
    position: fixed;
    left: 100%;
    top: 0px;
    margin-left: 40px;
    z-index: 111111;
  }
  .ryker_tm_modalbox .close a{
    text-decoration: none;
    color: #fff;
  }
  .ryker_tm_modalbox .close .svg{
    width: 50px;
    height: 50px;
  }
  .ryker_tm_modalbox .description_wrap{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    padding: 50px;
    overflow-y: scroll;
  }
  .ryker_tm_modalbox .details{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    &>a>fa-icon {
      margin: 0 5px;
      font-size: 20px;
      &:hover {
        color: #d1701f;
      }
    }
  }
  .ryker_tm_modalbox .description_wrap .image{
    position: relative;
    max-height: 450px;
    z-index: -1;
    margin-bottom: 0;
  }
  .ryker_tm_modalbox .description_wrap .image img{
    min-width: 100%;
    opacity: 0;
  }
  .ryker_tm_modalbox .description_wrap .image .main{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  .ryker_tm_modalbox .details .title{
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 9px;
  }
  .ryker_tm_modalbox .details span{
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
  }
  .ryker_tm_modalbox .details span a{
    text-decoration: none;
    color: #7E7E7E;
    position: relative;
    display: inline-block;
  }
  .ryker_tm_modalbox .details span a:before{
    position: relative;
    content: ".";
    font-size: 40px;
    top: -3px;
    color: #7e7e7e;
    padding: 0px 9px 0px 5px;
  }
  .ryker_tm_news .hide_content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -11;
    display: none;
  }
  .ryker_tm_modalbox .hide_content{
    width: 100%;
    float: left;
  }
  .ryker_tm_modalbox .hide_content .descriptions{
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
  .ryker_tm_modalbox .hide_content .descriptions .bigger{
    color: #888;
    font-size: 20px;		
    margin-bottom: 31px;
  }
  .ryker_tm_modalbox .hide_content .descriptions p{
    margin-bottom: 18px;
  }
  .ryker_tm_modalbox .hide_content .quotebox{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ryker_tm_modalbox .hide_content .quotebox p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 18px;
    border-left: 2px solid #d1701f;
    padding-left: 30px;
    color: #000;
  }
  .ryker_tm_modalbox .hide_content .icon{
    position: absolute;
    left: 0px;
    top: 10px;
  }
  .ryker_tm_modalbox .hide_content .icon .svg{
    width: 50px;
    height: 50px;
  }
  .ryker_tm_modalbox .button{display: none;}


  .flex-images {
    position: absolute;
    width: 100%; height: 100%;
    top:0; left: 0;
    display:flex;
    overflow:hidden;
    border-radius: 15px;
    box-shadow: 10px 10px 117px -28px rgba(0,0,0,0.34);
    -webkit-box-shadow: 10px 10px 117px -28px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 117px -28px rgba(0,0,0,0.34);
    &>img{
      object-fit: cover; 
      width: 100%; 
      height: 100%; 
      // opacity: 1 !important;
      transition: transform 800ms ease-out, opacity 500ms ease-out;
    }
  }


  .select-image-div{
    text-align:center;
    margin: 10px 0;
  }
  .image-select-btn{
    border: none ;
    width: 15px;height:15px;
    background-color: #7e7e7e41;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: 10px 10px 117px -28px rgba(0,0,0,0.34);
    -webkit-box-shadow: 10px 10px 117px -28px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 117px -28px rgba(0,0,0,0.34);
    &:hover {
      background-color: #7e7e7e96;
    }
    &:focus{
      outline: none;
    }
    &.highlighted {
      background-image: linear-gradient(0deg,#d1701f, lighten(#d1701f,25));
    }
  }

  .project-skill{
    border: 1px solid #d1701f;
    color : #d1701f;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
  }