<div class="portfolio_list">
    <div class="project_element" style="">
        <img src="assets/dali.png" alt="" >
        <div class="backgrounds"></div>
        <div class="overlay">
           <h3>Sweet Cherry</h3>
           <p>Youtube</p> 
        </div>
    </div>
    
    <div class="project_element" style="">
        <img src="assets/dali.png" alt="" >
        <div class="backgrounds"></div>
        <div class="overlay">
           <h3>Sweet Cherry</h3>
           <p>Youtube</p> 
        </div>
    </div>
    <div class="project_element" style="">
        <img src="assets/jawher.jpg" alt="" >
        <div class="backgrounds"></div>
        <div class="overlay">
           <h3>Sweet Cherry</h3>
           <p>Youtube</p> 
        </div>
    </div>
    <div class="project_element" style="">
        <img src="assets/dali.png" alt="" >
        <div class="backgrounds"></div>
        <div class="overlay">
           <h3>Sweet Cherry</h3>
           <p>Youtube</p> 
        </div>
    </div>
    
</div>