<accordion [closeOthers]="true" [isAnimated]="true" class="accordion mb-5">
  <accordion-group class="card card-box">
    <button accordion-heading class="btn btn-link btn-lg d-flex align-items-center justify-content-between"
            type="button">
      <span>General</span>
      <fa-icon [icon]="['fas', 'angle-up']" class="font-size-xl"></fa-icon>
    </button>
    <app-general></app-general>
  </accordion-group>
  <accordion-group class="card card-box">
    <button accordion-heading class="btn btn-link btn-lg d-flex align-items-center justify-content-between"
            type="button">
      <span>Skills Section</span>
      <fa-icon [icon]="['fas', 'angle-up']" class="font-size-xl"></fa-icon>
    </button>
    <app-skills-section></app-skills-section>
  </accordion-group>
  <accordion-group class="card card-box">
    <button accordion-heading class="btn btn-link btn-lg d-flex align-items-center justify-content-between"
            type="button">
      <span>Testimonials Section</span>
      <fa-icon [icon]="['fas', 'angle-up']" class="font-size-xl"></fa-icon>
    </button>
    <app-testimonials-section></app-testimonials-section>
  </accordion-group>
</accordion>
<app-wrapper-seamless class="row flew-layout justify-content-center">
  <button class="btn m-2 btn-square btn-slack" type="button">Save</button>
</app-wrapper-seamless>
