.selected {
  border: 2px solid #50aeaa;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-sizing: content-box;
}

.image-cropped-circular {
  border-radius: 300px;
}

.image-cropped-rectangle {
  border-radius: 15px;
  position: relative;
}

img {
  width: 150px;
}
.fixed-on-page {
  position: fixed; 
  width: calc( 100% + 50px ); 
  right: 0 ;
  bottom: 0 ; 
  z-index: 1120;
  background-color: white;
  transform: translateY(100%);
  transition: transform 500ms ease;
  box-shadow: 10px -14px 36px -10px rgba(0,0,0,0.38);
  &.shown{
    transform: none;
  }
}