<div [class]="delay? 'cardd':'cardd hidden'">
  <h1>Welcome</h1>
  <h3>Login to Webipie</h3>
  <!-- Error msg design
  <div class="error">
      <p>error</p>
  </div>
  -->
  <p>Enter Email</p>
  <form>
    <div class="input"><input [(ngModel)]="email" name="email" placeholder="Email Adress" type="email"></div>
    <button (click)="sendPassword()" [class.disabled-button]="!isValidForm()" [disabled]="!isValidForm()" type="submit">
      Send New Password
    </button>
  </form>

  <div class="line"></div>

</div>
<ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" color="#3aaf85" size="medium" type="square-jelly-box"><p
  style="color: white"> Saving... </p></ngx-spinner>
