<div class="cos-container">
    <div class="cos-content">
        
        <h1>Get in Touch!</h1>
        <h3>Contact me for a quick reponse</h3>
        <div class="cos-contact">
            <fa-icon [icon]="phone"></fa-icon>
            <h4>Subject</h4>
            <fa-icon [icon]="mail"></fa-icon>
            <h4>johndoe@johndoe.com</h4>
        </div>
        <div class="cos-card">
            <h2>Contact Form</h2>
            <form>
            <div class="cos-form">
                <div class="cos-left">
                    <label>Your name</label>
                    <input type="text" placeholder="Your Name" />
                    <label>Mail</label>
                    <input type="email" placeholder="Your Email" />
                    <label>Phone</label>
                    <input type="number" placeholder="Your Phone" />
                </div>
                <div class="cos-right">
                    <label>Message</label>
                    <textarea placeholder="Your Message"></textarea>
                </div>
            </div>
            <div class="cos-btn-container">
            <button type="submit" class="cos-btn">Send Message</button>
            </div>
            </form>
        </div>
        <div class="cos-socials-container">
            <div class="cos-social"><fa-icon [icon]="google"></fa-icon></div>
            <div class="cos-social"><fa-icon [icon]="linkedin"></fa-icon></div>
            <div class="cos-social"><fa-icon [icon]="facebook"></fa-icon></div>
        </div>
    </div>
</div>