<div class="row col-xl-12 col-md-12 m-2">
  <a routerLink='../'  class="back-btn"><fa-icon [icon]="['fas','angle-left']"></fa-icon></a>
</div>
<div class="row col-xl-12 col-md-12 justify-content-center wrap-reverse">

  <div class="row col-xl-7 col-md-12">
    <div class="card card-box col-xl-12 col-md-12 mb-5">
      <div class="card-body">
        <h5 class="card-title font-weight-bold font-size-lg mb-4">
          <span *ngIf="!edit">Add</span>
          <span *ngIf="edit">Edit</span>
          Professional Experience
        </h5>
        <form [formGroup]="workExperienceForm" (ngSubmit)="onSubmit()">
          <div class="position-relative form-group"><label class="required" for="title">Title</label>
            <input class="form-control"
                   id="title"
                   name="name"
                   type="text"
                   formControlName="title"
                   [(ngModel)]="workExperience.title"
            >
            <!-- Error Handling -->
            <div *ngIf="workExperienceForm.controls.title.errors?.required && workExperienceForm.controls.title.touched" class="alert isa_error">
              Title is required.
            </div>
            <!-- /Error handling -->
          </div>
          <div class="position-relative form-group"><label class="required" for="exampleText">Description</label>
            <textarea class="form-control"
                      id="exampleText"
                      name="text"
                      formControlName="description"
                      [(ngModel)]="workExperience.description"
            ></textarea>
            <!-- Error Handling -->
            <div *ngIf="workExperienceForm.controls.description.errors?.required && workExperienceForm.controls.description.touched" class="alert isa_error">
              Description is required.
            </div>
            <div *ngIf="workExperienceForm.controls.description.errors?.maxlength && workExperienceForm.controls.description.touched" class="alert isa_error">
              Description is too long , must be shorter than 300 characters
            </div>
            <!-- /Error handling -->
          </div>
          <div class="position-relative form-group"><label for="examplePassword">Job Type</label>
            <input class="form-control"
                   id="examplePassword"
                   name="password"
                   placeholder="Position"
                   type="text"
                   formControlName="position"
                   [(ngModel)]="workExperience.position"
            >
          </div>
          <div class="position-relative form-group"><label for="company">Company</label>
            <input class="form-control"
                   id="company"
                   name="name"
                   placeholder="Company"
                   type="text"
                   formControlName="company"
                   [(ngModel)]="workExperience.company"
            >
          </div>
          <div class="form-group">

            <label>Still on the job ?</label>
            <div class="m-2">
              <ui-switch defaultBgColor="#cadecf" [checked]="edit && !workExperience.endDate" (change)="checked()"></ui-switch>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xl-6 col-md-12">
              <label class="required">Start Date</label>
              <div class="input-group input-group-lg mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text"><fa-icon [icon]="['fas', 'calendar-alt']"
                                                          class="mx-auto"></fa-icon></span>
                </div>
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
                       class="form-control" placeholder="Select date" type="text" formControlName="beginDate" [(ngModel)]="beginDate">
                       <!-- Error Handling -->
                      <div *ngIf="workExperienceForm.controls.beginDate.errors?.required && workExperienceForm.controls.beginDate.touched" class="alert isa_error">
                        Start Date is required.
                      </div>
                      <!-- /Error handling -->
              </div>
            </div>


            <div class="form-group col-xl-6 col-md-12">
              <label>End Date</label>
              <div class="input-group input-group-lg mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text"><fa-icon [icon]="['fas', 'calendar-alt']"
                                                          class="mx-auto"></fa-icon></span>
                </div>
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
                       class="form-control" placeholder="Select date" type="text" formControlName="endDate" [(ngModel)]="endDate" [disabled]="check">
              </div>

            </div>
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
              <ngx-dropzone-label>Click or drag images here to upload!</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of images" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name | slice:0:13 }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            <small class="form-text mb-3">Only jpeg or png images.</small>
          </div>

          <div class="position-relative form-group"><label for="city">City</label>
            <input class="form-control"
                   id="city"
                   name="password"
                   placeholder="Tunis"
                   type="text"
                   formControlName="city"
                   [(ngModel)]="workExperience.city"
            >
          </div>
          <div class="position-relative form-group"><label for="skills">Skills</label>
            <!-- <input class="form-control"
                   id="skills"
                   name="password"
                   placeholder="Skills Acquired"
                   type="text"
                   formControlName="skills"
                   [(ngModel)]="workExperience.skills"
            > -->
            <ng-select id="skills" [(ngModel)]="workExperience.skills" [multiple]="true" [addTag]="true" formControlName="skills">
              <ng-option *ngFor="let skill of skills" [value]="skill.name">{{skill.name}}</ng-option>
            </ng-select>
          </div>
          <div class="divider my-4"></div>
          <button class="mt-1 btn btn-slack" [disabled]="!workExperienceForm.valid">
            <span *ngIf="!edit">Add</span>
            <span *ngIf="edit">Edit</span>
            Experience</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row m-2 col-xl-5 col-md-12">
    <div class="card-info">
        <div class="info-container">
            <fa-icon [icon]="['fas','exclamation-circle']"></fa-icon>
            <h1>Tips & Information</h1>
          <p>Adding well described professional experience in your portfolio would help you stand out in the crowd
            and reflect your professional skills.
            <br>
            <br>
            When it comes to professional experiences, <strong>the more the merrier</strong> don't forget any.
          </p>
        </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#3aaf85" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Saving..., Image upload might take a moment, just be patient. </p></ngx-spinner>

