<div class="row col-xl-12 col-md-12 justify-content-center">
  <div class="row col-xl-7 col-md-12">
    <div class="card card-box col-xl-12 col-md-12 mb-5">
      <div class="card-body">
        <h5 class="card-title font-weight-bold font-size-lg mb-4">
          <span *ngIf="!edit">Add</span>
          <span *ngIf="edit">Edit</span>
          Professional Experience
        </h5>
        <form [formGroup]="workExperienceForm" (ngSubmit)="onSubmit()">
          <div class="position-relative form-group"><label for="title">Title</label>
            <input class="form-control"
                   id="title"
                   name="name"
                   type="text"
                   formControlName="title"
                   [(ngModel)]="workExperience.title"
            >
          </div>
          <div class="position-relative form-group"><label for="exampleText">Description</label>
            <textarea class="form-control"
                      id="exampleText"
                      name="text"
                      formControlName="description"
                      [(ngModel)]="workExperience.description"
            ></textarea>
          </div>
          <div class="position-relative form-group"><label for="examplePassword">Position</label>
            <input class="form-control"
                   id="examplePassword"
                   name="password"
                   placeholder="Position"
                   type="text"
                   formControlName="position"
                   [(ngModel)]="workExperience.position"
            >
          </div>
          <div class="position-relative form-group"><label for="company">Company</label>
            <input class="form-control"
                   id="company"
                   name="name"
                   placeholder="Company"
                   type="text"
                   formControlName="company"
                   [(ngModel)]="workExperience.company"
            >
          </div>
          <div class="form-group">
            <label>Start Date</label>
            <div class="input-group input-group-lg mb-5">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="['fas', 'calendar-alt']"
                                                        class="mx-auto"></fa-icon></span>
              </div>
              <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                     bsDatepicker
                     class="form-control"
                     placeholder="Select date"
                     type="text"
                     formControlName="beginDate"
                     [(ngModel)]="workExperience.beginDate"
              >
            </div>
          </div>
          <div class="form-group">
            <label>Still on the job ?</label>
            <div class="m-2">
              <ui-switch [checked]="false"></ui-switch>
            </div>
          </div>

          <div class="form-group">
            <label>End Date</label>
            <div class="input-group input-group-lg mb-5">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="['fas', 'calendar-alt']"
                                                        class="mx-auto"></fa-icon></span>
              </div>
              <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                     bsDatepicker
                     class="form-control"
                     placeholder="Select date"
                     type="text"
                     formControlName="endDate"
                     [(ngModel)]="workExperience.endDate"
              >
            </div>
          </div>
          <div class="form-group">
            <label>Images</label>
            <dropzone (error)="onUploadError()" (click)="onUploadInit()" (success)="onUploadSuccess()"
                      *ngIf="type === 'component'"
                      [config]="config" [disabled]="disabled"
                      [message]="'Click or drag images here to upload'" class="dropzone-container"></dropzone>
            <div (error)="onUploadError()" (init)="onUploadInit()" (success)="onUploadSuccess()"
                 *ngIf="type === 'directive'" [disabled]="disabled" [dropzone]="config"
                 class="dropzone dropzone-container"></div>
          </div>
          <input
            id="hiddenImageInput"
            accept="image/jpg,image/jpeg,image/png,image/tiff,image/tif,image/bmp"
            style="display: none"
            multiple
            name="imgs" type="file"
            formControlName="imgs"
          />
          <div class="position-relative form-group"><label for="city">City</label>
            <input class="form-control"
                   id="city"
                   name="password"
                   placeholder="Tunis"
                   type="text"
                   formControlName="city"
                   [(ngModel)]="workExperience.city"
            >
          </div>
          <div class="position-relative form-group"><label for="skills">Skills</label>
            <input class="form-control"
                   id="skills"
                   name="password"
                   placeholder="Position"
                   type="text"
                   formControlName="skills"
                   [(ngModel)]="workExperience.skills"
            >
          </div>
          <div class="divider my-4"></div>
          <button class="mt-1 btn btn-slack" [disabled]="!workExperienceForm.valid">
            <span *ngIf="!edit">Add</span>
            <span *ngIf="edit">Edit</span>
            Experience</button>
        </form>
      </div>
    </div>
  </div>
</div>
