<!-- SERVICES -->
<div class="ryker_tm_section" >
    <div class="ryker_tm_services" id="expertise">
        <div class="container">
            <div class="services_inner">
                <div class="left">
                    <div class="ryker_tm_title">
                        <span>Services</span>
                    </div>
                    <div class="text">
                        <!-- <p>For more than 20 years our experts have been accomplishing enough with modern Web
                            Development, new generation programming language, and Full Stack developers to deliver
                            cost-effective solutions.</p> -->
                    </div>
                    <div class="ryker_progress" *ngIf="!technicalSkillsDisabled">

                        <div *ngFor="let skill of hardSkills" class="progress_inner">
                            <span>
                                <span class="label">{{skill.skill.name}}</span>
                                <span *ngIf="skill.level" class="number">{{skill.level*10}}%</span>
                            </span>
                            <div class="background">

                                <div class="bar_in" *ngIf="skill.level" [ngStyle]="{
                                            'width': skill.level*10+'%'
                                        }"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="right" *ngIf="!softSkillsDisabled">
                    <ul >
                        <li *ngFor="let skill of softSkills ; let i=index;">
                            <div class="list_inner">
                                <fa-icon [icon]="skill.icon" class="svg"></fa-icon>
                                <h3 class="title"> {{skill.title}} </h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /SERVICES -->