<!-- SERVICES -->
<div class="ryker_tm_section" id="service">
    <div class="ryker_tm_services">
        <div class="container">
            <div class="services_inner">
                <div class="left">
                    <div class="ryker_tm_title">
                        <span>Services</span>
                    </div>
                    <div class="text">
                        <p>For more than 20 years our experts have been accomplishing enough with modern Web
                            Development, new generation programming language, and Full Stack developers to deliver
                            cost-effective solutions.</p>
                    </div>
                    <div class="ryker_progress">
                        
                        <div *ngFor="let skill of hardSkills" class="progress_inner">
                            <span>
                                <span class="label">{{skill.skill.name}}</span>
                                <span *ngIf="skill.level" class="number">{{skill.level*10}}%</span>
                            </span>
                            <div class="background">
                                
                                    <div class="bar_in"
                                        *ngIf="skill.level"    
                                        [ngStyle]="{
                                            'width': skill.level*10+'%'
                                        }"
                                    ></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <ul class="grid">
                        <li class="grid-item wow fadeInUp" data-wow-duration="1.5s">
                            <div class="list_inner">
                                <fa-icon [icon]="design" class="svg"></fa-icon>
                                <h3 class="title">Design</h3>
                            </div>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <div class="list_inner">
                                <fa-icon [icon]="design" class="svg"></fa-icon>
                                <h3 class="title">Development</h3>
                            </div>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                            <div class="list_inner">
                                <fa-icon [icon]="star" class="svg"></fa-icon>
                                <h3 class="title">Quality</h3>
                            </div>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-duration="1.5s">
                            <div class="list_inner">
                                <fa-icon [icon]="gears" class="svg"></fa-icon>
                                <h3 class="title">Maintain</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /SERVICES -->