.card-header-alt {
    justify-content: space-between;
}
.table-container {
    overflow-x: auto;
    

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: white;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(12, 159, 12);
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(72, 166, 72);
    }
}