<div class="portfolio1">
    <app-header></app-header>
    <app-landing-section></app-landing-section>

    <div #aboutme>
        <app-aboutme-section></app-aboutme-section>
    </div>

    <div #expertise>
        <app-expertise-section></app-expertise-section>
    </div>

    <div #experience>
        <app-experience-section></app-experience-section>
    </div>
    <div #project>
        <app-project-section></app-project-section>
    </div>

    <div #testimonials>
        <app-testimonials-section></app-testimonials-section>
    </div>
    <div style="height:200vh; background-color:rgb(240, 240, 240);">

    </div>
</div>